{% import "@CamusAssets/Fixtures/see-more.html.twig" as seeMore %}

{% if module.template == 'financial' %}
  <div class="list-financial"  data-camus-id="{{ module.id }}" >
    <div class="media-container">
      {{ seeMore.img(module, "https://www.ft.com/", false) }}
      <div class="news-list-container" >
        {% for listElement in module.modules %}
          {% set type = listElement.type|splitTemplate %}
          {% include '@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig' ignore missing with {module: listElement|getModelModule} %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
