<div class="ad medium-rectangle" {{ data_camus_module_type["ad"] }} {{data_camus_allow_empty_module["1"]}}>
  <div class="media-container">
    {% set moduleId = (module.id != null) ? module.id : module.adId %}
    <div data-camus-module-ad-div="true" id="div-gpt-ad-block-{{ moduleId }}">
      <script>
        googletag.cmd.push(function() {
          googletag.display("div-gpt-ad-block-{{ moduleId }}");
        });
      </script>
    </div>
    <div class="sign">
      <span>PUBLICIDAD</span>
    </div>
  </div>
</div>
