<div class="ad pleca" {{ data_camus_module_type["ad"] }}>
  <div data-camus-module-ad-div="true" id="div-gpt-ad-pleca-1">
    <script>
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-pleca-1");
    });
    </script>
  </div>
</div>
