<div class="ad skyscraper {{ module.adTarget|lower }}"  >
  {% set moduleId = (module.id != null) ? module.id : module.adId %}
  <div data-camus-module-ad-div="true" id="div-gpt-ad-skyn-{{ moduleId }}">
    <script>
      googletag.cmd.push(function() {
        googletag.display("div-gpt-ad-skyn-{{ moduleId }}");
      });
    </script>
  </div>
</div>
