<div class="ad ticker"  {{data_camus_allow_empty_module["1"]}}>
  <div data-camus-module-ad-div="true" id="div-gpt-ad-ticker-1">
    <script>
      googletag.cmd.push(function() {
        googletag.display("div-gpt-ad-ticker-1");
      });
    </script>
  </div>
</div>
