<div class="nd-comments loading-comments">
  <div class="header">
    <div class="loader-comments"></div>
    <div class="loader-text"><span>Cargando comentarios...</span></div>
  </div>
  <div class="media-container">
    <div class="square-container-white"></div>
    <div class="fb-comments" data-href="{{ site_domain ~ app.request.pathinfo }}" data-width="100%" data-numposts="5"></div>
  </div>
</div>