{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
<div class="nd-disclaimer">
  {% if module.template == 'base' %}
    <img src="/bundles/applicationcamusassets/images/all-rights-reserved.png" alt="Queda prohibida la reproducci칩n total o parcial del contenido de esta p치gina, mismo que es propiedad de MILENIO DIARIO, S.A. DE C.V.; su reproducci칩n no autorizada constituye una infracci칩n y un delito de conformidad con las leyes aplicables." />
  {% endif %}
</div>
