{% if module.template == 'error_404' %}
  <div class="nd-error404">
    <div class="img-container">
      <div class="image">
        <img class="background-img" src="/bundles/applicationcamusassets/images/background-error-404.jpg"/>
      </div>
      <div class="text">
        <img class="logo-milenio" src="/bundles/applicationcamusassets/images/icon-milenio.png" alt="Icon Milenio">
        <span class="title-error">error 404</span>
        <span class="title-sorry">
          Lo sentimos, la página que buscas no existe.<br>
          Sigue navegando con nosotros
        </span>
      </div>
    </div>
  </div>
{% endif %} %}
