{% if module.template == 'base' %}
  <div class="nd-rnd-base" >
    <h4 class="related-title" >{{ module.title }}</h4>
    <div class="notes-list" >
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {{ include ('@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig', {module: listElement|getModelModule, exep: "1"}) }}
      {% endfor %}
    </div>
  </div>
{% elseif module.template == 'media_dual' or module.template == 'media_core' and module.modules is not empty %}
  <div class="nd-rnd-media" >
    <h4 class="related-title" >{{ module.title }}</h4>
    <ul class="notes-list" >
      {% for listElement in module.modules %}
        {% set type = listElement.type|splitTemplate %}
        {{ include ('@CamusAssets/Groups/'~type[0]~'/'~type[1]~'.html.twig', {module: listElement|getModelModule, template: module.template}) }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
