<div class="suscription-info">
  <h3>Datos de contacto</h3>
  <table>
  <tr>
    <td>Nombre:</td>
    <td id="user-name">Eve</td>
  </tr>
   <tr>
     <td>Apellido Paterno:</td>
     <td id="user-lastname">Jackson</td>
    </tr>
   <tr>
    <td>Apellido Materno:</td>
    <td id="user-surname">Jackson</td>
     </tr>
   <tr>
    <td>Sexo:</td>
    <td id="user-genre">Femenino</td>
     </tr>
   <tr>
    <td>Año de Nacimiento:</td>
    <td id="user-birth">1989</td>
     </tr>
   <tr>
    <td>País:</td>
    <td id="user-country">México</td>
     </tr>
   <tr>
    <td id="user-state">Estado:</td>
    <td>Nuevo León</td>
     </tr>
   <tr>
    <td id="user-city">Ciudad:</td>
    <td>Monterrey</td>
     </tr>
   <tr>
    <td id="user-district">Municipio:</td>
    <td>Monterrey</td>
     </tr>
   <tr>
    <td id="user-lada">Lada:</td>
    <td>81</td>
     </tr>
   <tr>
    <td id="user-tel">Teléfono:</td>
    <td>83808080</td>
     </tr>
   <tr>
    <td id="user-cp">Código Postal:</td>
    <td>67123</td>
     </tr>
   <tr>
    <td id="user-mail">Correo Electrónico:</td>
    <td>eve@mail.com</td>
     </tr>
</table>
<img src="/bundles/applicationcamusassets/images/suscripciones-test.jpg">
<div class="buttons-info">
  <button class="suscription-button" id="Ant-info">Anterior</button>
  <button class="suscription-button" id="Shop-info">Comprar</button>
</div>
</div>
