{#
<div class="suscription-payment">
<div>
<h4>Elige la edición de tu preferencia:</h4>
<select>
  <option>Suscripción Digital Milenio Nacional</option>
  <option>Suscripción Digital Milenio Monterrey</option>
  <option>Suscripción Digital Milenio Edo. de México</option>
  <option>Suscripción Digital Milenio Jalisco</option>
  <option>Suscripción Digital Milenio Laguna</option>
  <option>Suscripción Digital Milenio Hidalgo</option>
  <option>Suscripción Digital Milenio León</option>
  <option>Suscripción Digital Milenio Tamaulipas</option>
  <option>Suscripción Digital Milenio Puebla</option>
</select>
</div>
<div class="payment">
  <h4>Elige tu forma de pago:</h4>
  <div>
  <input id="paypal-pay" type="radio">
  <span>Paypal<span>
</div>
  <input id="market-pay" type="radio">
  <span>Mercado pago<span>
</div>
<img src="/bundles/applicationcamusassets/images/suscripciones-test.jpg">
<div class="buttons-pay">
  <button class="suscription-button" id="Ant-pay">Anterior</button>
  <button class="suscription-button" id="Shop-pay">Comprar</button>
</div>
</div>
#}
