{# <div id = "taboola-below-article-thumbnails"> </div>
<script type = "text / javascript">
  window._taboola = window._taboola || [];
  _taboola.push ({
    mode: 'thumbs-feed-01',
    contenedor: 'taboola-below-article-thumbnails',
    ubicación: 'Below Thumbnails del artículo',
    target_type: 'mix'
  });
</script>#}
