<div class="themes">
  <ul  class="thin-data">
    {% for topic in jsonDataTopics %}
      <li><span><a href="/temas/{{ topic.nameNormalized }}">{{ topic.name|upper }}</a></span></li>
    {% endfor %}
  </ul>
</div>
