<div class="description-btn-container-white">
  <span class="span-btn-play-container"></span>
  <div class="media-type-container">
    <a href="">
      <img src="" class="media-type">
    </a>
  </div>
</div>
