<div class="author-container">
  <div class="author-description-container">
    <div class="author-name"></div>
    <div class="profession-name"></div>
    <div class="square-container-white"></div>
  </div>
  <div class="img-container">
    <img src="" class="author-image" />
  </div>
</div>
