<div class="description">
  <div class="age">
    <h5></h5>
    <span></span>
  </div>
  <div class="politic-party">
    <h5></h5>
    <span></span>
  </div>
  <div class="charge">
    <h5></h5>
    <span></span>
  </div>
  <div class="city">
    <h5></h5>
    <span></span>
  </div>
</div>
