<div class="sn-frame"  data-camus-template="{{module.templateName}}" {{data_camus_allow_empty_module["1"]}}>
  <div class="media-container">
    
      <div class="headline" >{{ module.title }}</div>

    <div class="content" data-camus-module-free-html>
        {{ module.body|parserHtml|raw }}
    </div>
  </div>
</div>
