@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.list-large-news-cartoons{
  @include global-container-4c;
  border-top: none;
  min-height: 400px;
  overflow: inherit !important;
  .head-container{
    margin-bottom: $global-margin-bottom;
  }
  @include container-buttons-modals;
  .list-news-container{
    width: 100%;
    .number-pages-container{
      @include pagination-controls;
    }
  }
}
