@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.oo-top-text{
  width: 100%;
  max-width: 307px;
  height: auto;
  margin: auto;
  margin-bottom: 15px;
  .media-container{
    position: relative;
    .image{
      height: inherit;
    }
    .headline-top-container-gradient{
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 5px;
      background-color: rgba(64,64,64,0.6);
      opacity: 0; //CAMBIAR PARA OCULATAR
      transition: opacity ease-in 0.3s;
      padding: 0 8px;
      .title{
        color: $color-white;
        font-family: Verdana,Geneva,Tahoma,sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        text-transform: none;
        letter-spacing: 1px;
        text-shadow: rgba(0,0,0,0) 0px 0px 0px;
        .text-title{
          height: auto;
          max-height: 35px;
          overflow: hidden;
        }
      }
      .buy-gallery{
        position: relative;
        bottom: 5px;
        margin-top: 15px;
        height: 0px;
        .buy-icon-facebook{
          display: block;
          background-image: url(bundles/camusassets/images/social-buy.png);
          background-position: -51px 0px;
          width: 16px;
          height: 16px;
        }
        .buy-icon-twitter{
          display: block;
          background-image: url(bundles/camusassets/images/social-buy.png);
          background-position: -68px 0px;
          width: 16px;
          height: 16px;
          transform: translate(20px, -16px);
        }
        .buy-icon-pinterest{
          display: block;
          background-image: url(bundles/camusassets/images/social-buy.png);
          background-position: -85px 0px;
          width: 16px;
          height: 16px;
          transform: translate(40px, -32px);
        }
        .buy-icon-facebook:hover {
          background-position: 0px 0px;
        }
        .buy-icon-twitter:hover {
          background-position: -17px 0px;
        }
        .buy-icon-pinterest:hover {
          background-position: -34px 0px;
        }
      }
    }
    &:hover{
      .bottom-selected-container{
        opacity: 1;
        .button-selected{
          .circleCheck{
            top: 9%;
            left: 0;
            transform: scale(1.2);
          }
        }
      }
    }
    .bottom-selected-container{
      position: absolute;
      transition: .5s;
      opacity: 0;
      bottom: 4px;
      width: 100%;
      background: rgba(0, 0, 0, 0.44);
      .button-selected{
        position: relative;
        height: 26px;
        margin: 5px;
        font-size: 20px;
        color: $color-white;
        .circleCheck{
          position: absolute;
          cursor: pointer;
          position: absolute;
          width: 20px;
          height: 20px;
          border: 3px solid $color-white;
          border-radius: 100%;
          top: 50%;
          left: 2.5%;
          transform: translate(-50%, -50%);
          transition: all ease-out 200ms;
          text-indent: 90px;
          background:black;
          box-shadow: 2px -1px 6px 0px
          black;
          white-space: nowrap;
          color: $color-white;
          user-select: none;
          &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 8px;
            border-bottom: 3px solid $color-white;
            border-left: 3px solid $color-white;
            top: 25%;
            left: 50%;
            transform-origin: bottom left;
            transform: rotate(-45deg);
            opacity: 0;
            transition: all ease-out 200ms;
          }
        }
        .zoombtn{
          transition: .5s;
          position: absolute;
          cursor: pointer;
          right: 0;
          bottom: 0;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
.oo-top-text {
  &.ui-selected{
    .media-container{
      .bottom-selected-container{
        opacity: 1 !important;
        background: $transparent;
        .button-selected{
          .circleCheck{
            top: 9%;
            left: 0;
            transform: scale(1.2);
            &:after{
              opacity: 1;
            }
          }
          .zoombtn{
            opacity: 0;
          }
        }
      }
      &:hover{
        .bottom-selected-container{
          opacity: 1;
          background: rgba(0, 0, 0, 0.44);
          .button-selected{
            .zoombtn{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.media-container:hover .headline-top-container-gradient{
  opacity: 1;
}

.copyrightG{
  display: block !important;
}

.body-content{
  margin-top: 27px !important;
  .content{
    padding: 0px;
  }
}
