@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.nd-sd-base-dni{
  width: $two-column;
  overflow: hidden;
  margin: $global-margin-bottom 0;
  .media-container{
    .the-data-text{
      padding: 30px 30px 25px 55px;
      background-color: $color-very-light-gray;
      .dni{
        float: left;
        margin-right: 5px;
        color: $color-yellow;
      }
      .title-container{
        margin-bottom: 15px;
        @include text-with-roboto-black-color-night-gray;
        font-size: 24px;
        line-height: 36px;
        &:after{
          content: "";
          display: table;
          clear: both;
        }
      }
      .text{
        @include text-with-roboto-regular-color-night-gray;
        font-size: 15px;
        line-height: 24px;
        /*b{
          font-family: $font-open-sans-bold;
        }*/
      }
    }
  }
}

@include one-column{
  .nd-sd-base-dni{
    width: $one-column;
    .media-container{
      .the-data-text{
        padding: 10px 20px 10px 35px;
        .title-container{
          margin-bottom: 8px;
          font-size: 18px;
          line-height: 25px;
        }
        .text{
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
};
