@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.sn-opinion-horoscope{
  @include global-container-1c;
  .firms-note{
    @include rows-height(1);
    padding: 15px 10px 0;
    @include container-light-cyan;
    background: $color-picton-blue;
    text-align: center;
    overflow: hidden;
    .image{
      width: 102px;
      height: 102px;
      margin: 0 auto;
      margin-bottom: 10px;
      border-radius: 50%;
      img{
        width: 100%;
        object-fit: contain;
        height: auto !important;
        /*&:after {
          position: absolute;
          content: "";
          width: 102px;
          height: 102px;
          opacity: 0.5;
          background: $color-yellow;
          border-radius: 50%;
          left: 50%;
          transform: translateX(-50%);
          top: 15px;
        }*/
      }
    }
    .author{
      margin-top: 15px;
      @include text-with-YanoneKaffeesatz-color-white;
      font-size: 30px;
      font-weight: 700;
      line-height: 26px;
      padding-bottom: 6px;
    }
    .column{
      @include text-with-sans-pro-color-white;
      font-size: 15px;
      line-height: 15px;
      padding-bottom: 8px;
    }
    .abstract{
      @include text-with-sans-pro-color-white;
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 3px;
    }
    .title{
      max-height: 78px;
      overflow: hidden;
      margin-top: 10px;
      @include text-with-utopia-5-color-black;
      font-size: 24px;
      line-height: 26px;
    }
    .bottom{
      position: absolute;
      bottom: 12px;
      left: 50%;
      min-width: 55px;
      transform: translateX(-50%);
      .section{
        @include text-with-sans-serif-color-blue-gray;
        font-size: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid $color-blue-gray;
        padding-bottom: 5px;
      }
    }
    .social-media{
      float: none;
      position: absolute;
      bottom: 10px;
      color: $color-white;
      transform: translateX(-50%);
    }
  }
  .section-see-more-container-transparent ~ .firms-note, .section-see-more-container-transparent[style*="block"] ~ .firms-note{
    height: 306px;
    max-height: 306px;
    min-height: 306px;
  }
  .section-see-more-container-transparent[style*="none"] ~ .firms-note{
    @include rows-height(1);
  }
}
