@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
// html,body{
//   overflow-y: hidden;
// }
.content{
  padding: 0px!important;
  margin-bottom: 0px!important;
  max-width: 100% !important;
}
#main-header{
  display: none!important;
}
.body-content{
  margin-top: 0px!important;
}
#main-footer{
  display: none!important;
}
.sli-opening{
  background-color: $color-black;
  width: 100%;
  height: 855px;
  display: flex;
  .media-container{
    text-align: center;
    width: 100%;
  }
  .description-cartoon{
    height: 855px;
    display: block;
    width: 401px;
    background-color: #fff;
    position: relative;
    right: 0;
    top: 0;
    .panel-shop{
      height: 210px;
      width: 401px;
      .fa-times{
        position: absolute;
        transform: translate(10px, 7px);
        font-size: 16px;
        cursor: pointer;
        color: #575757;
      }
      .panel-shop-logo{
        width: 314px;
        margin-top: 30px;
        left: 36px;
        position: relative;
      }
      .panel-shop-text{
        position: relative;
        padding: 15px 0;
        border: 3px solid;
        font-size: 26px;
        left: 40px;
        text-align: center;
        cursor: pointer;
        width: 320px;
        color: #575757;
      }
    }
    .panel-buy{
      height: 65%;
      width: 401px;
      .panel-buy-tt{
        padding: 0 15px;
        font-size: 13px;
        font-weight: bold;
        background-color: #eeeeee;
        min-height: 24px;
        height: 24px;
        color: #333;
        border-bottom: solid 1px #ececec;
        max-height: 24px;
        .panel-buy-tt-sub1{
          font-size: 16px;
        }
        .panel-buy-tt-sub2{
          float: right;
          font-size: 16px;
          font-weight: bold;
          position: relative;
          top: -21px;
          right: 45px;
        }
      }
      .panel-buy-pr{
        font-family: Verdana,Geneva,Tahoma,sans-serif;
        font-size: 15px;
        color: #333;
        border-bottom: solid 1px #ececec;
        padding: 10px 15px;
        cursor: pointer;
        height: 50px;
        .panel-buy-pr-sub1{
          position: absolute;
        }
        .panel-buy-pr-sub2{
          position: relative;
          right: -255px;
        }
        .panel-buy-pr-sub3{
          position: relative;
          top: -28px;
          right: -336px;
        }
      }
    }
    .panel-car{
      width: 401px;
      height: 67px;
      position: fixed;
      bottom: 0px;
      text-align: center;
      background-color: rgba(238,238,238,0.8);
      .panel-car-txt{
        color: #a1a1a1;
        background-color: #ebebeb;
        font-family: Helvetica,'Helvetica Neue',Arial,sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        display: inline-block;
        width: 90%;
        padding: 10px 0;
        margin: 15px 10px;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }
  .gallery-icons{
    .fa-arrow-left{
      color: #ccc;
      font-size: 25px;
      transform: translate(10px, 15px);
      float: left;
      cursor: pointer;
    }
    .fa-heart-o{
      color: #ccc;
      font-size: 30px;
      transform: translate(-10px, 10px);
      cursor: pointer;
    }
    .fa-share-alt{
      color: #ccc;
      font-size: 30px;
      transform: translate(10px, 10px);
      cursor: pointer;
    }
  }
  .gallery-nav{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    // overflow: hidden;
    bottom: 0px;
    .slick-prev {
      left: 5px!important;
      top: -350%!important;
      &:before{
        font-size: 40px!important;
      }
    }
    .slick-next {
      right: 425px!important;
      top: -350%!important;
      &:before{
        font-size: 40px!important;
      }
    }
    .img-item {
      width: 78px;
      height: 68px;
      // width: 100%;
      // max-width: 68px;
      // height: 100%;
      // max-height: 68px;
        img {
          width: 78px;
          height: 78px;
          padding: 10px;
          // width: 100%;
          // max-width: 68px;
          // height: 100%;
          // max-height: 68px;
        }
    }
  }
  .gallery-container{
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 420px;
    margin-top: 25px;
    .slick-list{
      height: inherit !important;
    }
    .slick-prev {
      left: 5px!important;
      &:before{
        font-size: 40px!important;
      }
    }
    .slick-next {
      right: 425px!important;
      &:before{
        font-size: 40px!important;
      }
    }
    .img-item{
      display: inline-block;
      width: 100%;
      max-width: 419px;
      height: 100%;
      max-height: 629px;
      // overflow: hidden;
      // overflow-x: hidden;
      .detail {
        display: block;
        color: white;
        transform: translate(0px, 25px);
        font-size: 22px; //16
        &:before{
          // content: "\f1f9";
        }
      }
      img{
        width: 100% !important;
        max-width: 419px !important;
        height: 100% !important;
        max-height: 629px !important;
      }
    }
  }
}
