<footer>
	{{ include('ApplicationCamusAssetsBundle:InstantArticles:mas-vistas.html.twig') }}
	<aside>
		<p>Queda prohibida la reproducción total o parcial del contenido de esta página, mismo que es propiedad de MILENIO DIARIO, S.A. DE C.V.; su reproducción no autorizada constituye una infracción y un delito de conformidad con las leyes aplicables.</p>
	</aside>
    <small>© MILENIO DIARIO, 2019</small>
</footer>
