<div class="alphabet">
  <div class="media-container">
    <div class="head">
      <div class="text">
        <h6>Seleccione una letra para ver los temas</h6>
      </div>
      <div class="black-bar">
        <div class="letter">
          <h1>A</h1>
        </div>
        <div class="arrow">
          <span class="fa fa-chevron-up"></span>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="text">
        <summary>Seleccione una letra</summary>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>A</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>B</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>C</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>D</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>E</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>F</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>G</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>H</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>I</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>J</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>K</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>L</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>M</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>N</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>O</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>P</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>Q</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>R</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>S</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>T</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>U</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>V</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>W</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>X</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>Y</h1>
        </div>
        <div class="tail">
        </div>
      </div>
      <div class="letter-container">
        <div class="letter">
          <h1>Z</h1>
        </div>
        <div class="tail">
        </div>
      </div>
    </div>
    <div class="result">
      <ul>
        <li><a href="">Abdelaziz Barrada</a></li>
        <li><a href="">Abel Resino</a></li>
        <li><a href="">Academia Octavio</a></li>
        <li><a href="">Adrian Newey</a></li>
        <li><a href="">Adrián Luna</a></li>
        <li><a href="">Adán</a></li>
        <li><a href="">Agrupación Deportiva Alcorcón</a></li>
        <li><a href="">Aitor Ariño Bengoechea</a></li>
        <li><a href="">Al Horford</a></li>
        <li><a href="">Albert Montañés</a></li>
        <li><a href="">Alberto Manucho</a></li>
        <li><a href="">Alberto Corbacho</a></li>
        <li><a href="">Alderweireld</a></li>
        <li><a href="">Alejandra Simón</a></li>
        <li><a href="">Alex Corretja</a></li>
        <li><a href="">Alex Mariñelarena</a></li>
        <li><a href="">Alex Song</a></li>
        <li><a href="">Alexis Sánchez</a></li>
        <li><a href="">All Star</a></li>
        <li><a href="">Alser Sagunto</a></li>
        <li><a href="">Ana Carrasco</a></li>
        <li><a href="">Anadolu Efes</a></li>
        <li><a href="">Andoni Iraola</a></li>
        <li><a href="">Andrea Iannone</a></li>
        <li><a href="">Andreas Klöden</a></li>
        <li><a href="">Andrew Bynum</a></li>
        <li><a href="">Andrey Arshavin</a></li>
        <li><a href="">Andrés Rodríguez</a></li>
        <li><a href="">Andrés Nocioni</a></li>
      </ul>
      <ul>
        <li><a href="">Abdelaziz Barrada</a></li>
        <li><a href="">Abel Resino</a></li>
        <li><a href="">Academia Octavio</a></li>
        <li><a href="">Adrian Newey</a></li>
        <li><a href="">Adrián Luna</a></li>
        <li><a href="">Adán</a></li>
        <li><a href="">Agrupación Deportiva Alcorcón</a></li>
        <li><a href="">Aitor Ariño Bengoechea</a></li>
        <li><a href="">Al Horford</a></li>
        <li><a href="">Albert Montañés</a></li>
        <li><a href="">Alberto Manucho</a></li>
        <li><a href="">Alberto Corbacho</a></li>
        <li><a href="">Alderweireld</a></li>
        <li><a href="">Alejandra Simón</a></li>
        <li><a href="">Alex Corretja</a></li>
        <li><a href="">Alex Mariñelarena</a></li>
        <li><a href="">Alex Song</a></li>
        <li><a href="">Alexis Sánchez</a></li>
        <li><a href="">All Star</a></li>
        <li><a href="">Alser Sagunto</a></li>
        <li><a href="">Ana Carrasco</a></li>
        <li><a href="">Anadolu Efes</a></li>
        <li><a href="">Andoni Iraola</a></li>
        <li><a href="">Andrea Iannone</a></li>
        <li><a href="">Andreas Klöden</a></li>
        <li><a href="">Andrew Bynum</a></li>
        <li><a href="">Andrey Arshavin</a></li>
        <li><a href="">Andrés Rodríguez</a></li>
        <li><a href="">Andrés Nocioni</a></li>
      </ul>
      <ul>
        <li><a href="">Abdelaziz Barrada</a></li>
        <li><a href="">Abel Resino</a></li>
        <li><a href="">Academia Octavio</a></li>
        <li><a href="">Adrian Newey</a></li>
        <li><a href="">Adrián Luna</a></li>
        <li><a href="">Adán</a></li>
        <li><a href="">Agrupación Deportiva Alcorcón</a></li>
        <li><a href="">Aitor Ariño Bengoechea</a></li>
        <li><a href="">Al Horford</a></li>
        <li><a href="">Albert Montañés</a></li>
        <li><a href="">Alberto Manucho</a></li>
        <li><a href="">Alberto Corbacho</a></li>
        <li><a href="">Alderweireld</a></li>
        <li><a href="">Alejandra Simón</a></li>
        <li><a href="">Alex Corretja</a></li>
        <li><a href="">Alex Mariñelarena</a></li>
        <li><a href="">Alex Song</a></li>
        <li><a href="">Alexis Sánchez</a></li>
        <li><a href="">All Star</a></li>
        <li><a href="">Alser Sagunto</a></li>
        <li><a href="">Ana Carrasco</a></li>
        <li><a href="">Anadolu Efes</a></li>
        <li><a href="">Andoni Iraola</a></li>
        <li><a href="">Andrea Iannone</a></li>
        <li><a href="">Andreas Klöden</a></li>
        <li><a href="">Andrew Bynum</a></li>
        <li><a href="">Andrey Arshavin</a></li>
        <li><a href="">Andrés Rodríguez</a></li>
        <li><a href="">Andrés Nocioni</a></li>
      </ul>
      <ul>
        <li><a href="">Abdelaziz Barrada</a></li>
        <li><a href="">Abel Resino</a></li>
        <li><a href="">Academia Octavio</a></li>
        <li><a href="">Adrian Newey</a></li>
        <li><a href="">Adrián Luna</a></li>
        <li><a href="">Adán</a></li>
        <li><a href="">Agrupación Deportiva Alcorcón</a></li>
        <li><a href="">Aitor Ariño Bengoechea</a></li>
        <li><a href="">Al Horford</a></li>
        <li><a href="">Albert Montañés</a></li>
        <li><a href="">Alberto Manucho</a></li>
        <li><a href="">Alberto Corbacho</a></li>
        <li><a href="">Alderweireld</a></li>
        <li><a href="">Alejandra Simón</a></li>
        <li><a href="">Alex Corretja</a></li>
        <li><a href="">Alex Mariñelarena</a></li>
        <li><a href="">Alex Song</a></li>
        <li><a href="">Alexis Sánchez</a></li>
        <li><a href="">All Star</a></li>
        <li><a href="">Alser Sagunto</a></li>
        <li><a href="">Ana Carrasco</a></li>
        <li><a href="">Anadolu Efes</a></li>
        <li><a href="">Andoni Iraola</a></li>
        <li><a href="">Andrea Iannone</a></li>
        <li><a href="">Andreas Klöden</a></li>
        <li><a href="">Andrew Bynum</a></li>
        <li><a href="">Andrey Arshavin</a></li>
        <li><a href="">Andrés Rodríguez</a></li>
        <li><a href="">Andrés Nocioni</a></li>
      </ul>
    </div>
  </div>
</div>
