<div class="and-now">
  <div class="media-container">
    <h1>A continuación...</h1>
    <div class="left-arrow">
      <span class="fa fa-chevron-left"></span>
    </div>
    <div class="right-arrow">
      <span class="fa fa-chevron-right"></span>
    </div>
    <ul>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
      <li>
        <div class="text">
          <h3>
            <span class="hour">15:45</span>
            >
            <span class="section">Noticias Milenio</span>
          </h3>
          <h5>
            Con
            <span class="name">Gerardo Soriano</span>
          </h5>
        </div>
        <div class="social-networks">
          <span class="fa fa-square"></span>
          <span class="fa fa-square"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
