<div class="block-firms-editions">
  <div class="media-container">
    <div class="header">
      <h1>Ediciones</h1>
    </div>
    <div class="arrows">
      <button type="button" class="left">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button type="button" class="right">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <div class="notes">
      <div class="note">
        <div class="article-firms">
          <div class="media-container">
            <div class="section-see-more-container-transparent">
              <div class="section-title-container-transparent">
                <h1>
                  Monterrey
                </h1>
              </div>
            </div>
            <div class="firm-list">
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Marín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Héctor A. Camín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Puig
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Bárbara Anderson
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-firms">
          <div class="media-container">
            <div class="section-see-more-container-transparent">
              <div class="section-title-container-transparent">
                <h1>
                  Monterrey
                </h1>
              </div>
            </div>
            <div class="firm-list">
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Marín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Héctor A. Camín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Puig
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Bárbara Anderson
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-firms">
          <div class="media-container">
            <div class="section-see-more-container-transparent">
              <div class="section-title-container-transparent">
                <h1>
                  Monterrey
                </h1>
              </div>
            </div>
            <div class="firm-list">
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Marín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Héctor A. Camín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Puig
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Bárbara Anderson
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-firms">
          <div class="media-container">
            <div class="section-see-more-container-transparent">
              <div class="section-title-container-transparent">
                <h1>
                  Monterrey
                </h1>
              </div>
            </div>
            <div class="firm-list">
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Marín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Héctor A. Camín
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Carlos Puig
                    </h2>
                  </div>
                </div>
              </div>
              <div class="item-container-light-cyan">
                <div class="img-container">
                  <a href="">
                    <img src="/bundles/applicationcamusassets/images/special_modules\firm.jpg" alt="" />
                  </a>
                </div>
                <div class="title-container">
                  <h1>
                    <a href="">Lo 'moreno' no quita lo inteligente</a>
                  </h1>
                  <div class="author-title">
                    <h2>
                      Bárbara Anderson
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
