<div class="block-firms">
  <div class="media-container">
    <div class="header">
      <h1>Firmas</h1>
      <div class="arrows">
        <button type="button" class="left">
          <span class="fa fa-chevron-left"></span>
        </button>
        <button type="button" class="right">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <div class="firms">
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">La mota, la Corte y el futuro de nuestros derechos</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">Los 8 millones de pesos que ganó Alejandro Murat</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">La mota, la Corte y el futuro de nuestros derechos</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">La mota, la Corte y el futuro de nuestros derechos</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">La mota, la Corte y el futuro de nuestros derechos</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="firms-note">
        <div class="autor">
          <h1>Román Revueltas <br> Retes</h1>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
