<div class="block-outstanding-by-sections">
  <div class="media-container">
    <div class="header">
      <h1>Estados</h1>
    </div>
    <div class="arrows">
      <button type="button" class="left">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button type="button" class="right">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <div class="notes">
      <div class="outstanding-note">
        <button type="button" class="sphere">
          <span class="fa fa-play"></span>
        </button>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-outstanding.jpg"/>
          </a>
        </div>
        <div class="title">
          <h1>
            <a href="">
              No más vídeos sugerentes de  plátanos en las webs China
            </a>
          </h1>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="outstanding-note">
        <button type="button" class="sphere">
          <span class="fa fa-play"></span>
        </button>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-outstanding.jpg"/>
          </a>
        </div>
        <div class="title">
          <h1>
            <a href="">
              No más vídeos sugerentes de  plátanos en las webs China
            </a>
          </h1>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="outstanding-note">
        <button type="button" class="sphere">
          <span class="fa fa-play"></span>
        </button>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-outstanding.jpg"/>
          </a>
        </div>
        <div class="title">
          <h1>
            <a href="">
              No más vídeos sugerentes de  plátanos en las webs China
            </a>
          </h1>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
      <div class="outstanding-note">
        <button type="button" class="sphere">
          <span class="fa fa-play"></span>
        </button>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-outstanding.jpg"/>
          </a>
        </div>
        <div class="title">
          <h1>
            <a href="">
              No más vídeos sugerentes de  plátanos en las webs China
            </a>
          </h1>
        </div>
        <div class="footer">
          <h5>Estilo</h5>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
