<div class="block-spectacle">
  <div class="media-container">
    <div class="header">
      <div class="left"></div>
      <a href="">
        <img src="/bundles/applicationcamusassets/images/blocks/logo-hey.png"/>
      </a>
      <div class="right"></div>
    </div>
    <div class="sponsorship">
      <div class="image">
        <a href="">
          <img src="/bundles/applicationcamusassets/images/sponsorship-type-3.png"/>
        </a>
      </div>
      <div class="text">
        <h6>Patrocinado <br>por</h6>
      </div>
    </div>
    <div class="arrows">
      <button type="button" class="left">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button type="button" class="right">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <div class="notes">
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Teatro</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  'Willy Wonka' llegará a Broadway este verano
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-hey.jpg"/>
          </a>
        </div>
      </div>
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Cine</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  ¿Qué culpa tiene el niño?' tiene su premier en México
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-hey.jpg"/>
          </a>
        </div>
      </div>
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Musica</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  ¿En serio siempre me van a pedir El Sapito?: Belinda
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-hey.jpg"/>
          </a>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
