<div class="block-blogs">
  <div class="media-container">
    <div class="headerline-section">
      <div class="title-section">
        <h1>BLOG DESTACADOS</h1>
      </div>
      <div class="arrows">
        <button type="button" class="left">
          <span class="fa fa-chevron-left"></span>
        </button>
        <button type="button" class="right">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <div class="blogs-container">
      <div class="blog-item">
        <div class="img-container">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/special_modules\outstanding-blog.jpg" alt="" />
          </a>
        </div>
        <div class="container-light-cyan-utopia">
          <div class="headline-container-center-utopia">
            <h1>
              <a href="">'Vinyl': la industria de la música por dentro</a>
            </h1>
          </div>
          <div class="text-container-center-top-open-sans">
            <span>
              El Ángel Exterminador
            </span>
          </div>
          <div class="text-container-open-sans5-nobel">
            <span>
              Jorge Flores-Oliver, Blumpi
            </span>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="img-container">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/special_modules\outstanding-blog.jpg" alt="" />
          </a>
        </div>
        <div class="container-light-cyan-utopia">
          <div class="headline-container-center-utopia">
            <h1>
              <a href="">'Vinyl': la industria de la música por dentro</a>
            </h1>
          </div>
          <div class="text-container-center-top-open-sans">
            <span>
              El Ángel Exterminador
            </span>
          </div>
          <div class="text-container-open-sans5-nobel">
            <span>
              Jorge Flores-Oliver, Blumpi
            </span>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="img-container">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/special_modules\outstanding-blog.jpg" alt="" />
          </a>
        </div>
        <div class="container-light-cyan-utopia">
          <div class="headline-container-center-utopia">
            <h1>
              <a href="">'Vinyl': la industria de la música por dentro</a>
            </h1>
          </div>
          <div class="text-container-center-top-open-sans">
            <span>
              El Ángel Exterminador
            </span>
          </div>
          <div class="text-container-open-sans5-nobel">
            <span>
              Jorge Flores-Oliver, Blumpi
            </span>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="img-container">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/special_modules\outstanding-blog.jpg" alt="" />
          </a>
        </div>
        <div class="container-light-cyan-utopia">
          <div class="headline-container-center-utopia">
            <h1>
              <a href="">'Vinyl': la industria de la música por dentro</a>
            </h1>
          </div>
          <div class="text-container-center-top-open-sans">
            <span>
              El Ángel Exterminador
            </span>
          </div>
          <div class="text-container-open-sans5-nobel">
            <span>
              Jorge Flores-Oliver, Blumpi
            </span>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="blog-item">
        <div class="img-container">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/special_modules\outstanding-blog.jpg" alt="" />
          </a>
        </div>
        <div class="container-light-cyan-utopia">
          <div class="headline-container-center-utopia">
            <h1>
              <a href="">'Vinyl': la industria de la música por dentro</a>
            </h1>
          </div>
          <div class="text-container-center-top-open-sans">
            <span>
              El Ángel Exterminador
            </span>
          </div>
          <div class="text-container-open-sans5-nobel">
            <span>
              Jorge Flores-Oliver, Blumpi
            </span>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
    </div>
    <div class="dots">
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
      <a href=""><h2>&#149;</h2></a>
    </div>
  </div>
</div>
