<div class="block-la-aficion">
  <div class="media-container">
    <div class="header">
      <img src="/bundles/applicationcamusassets/images/blocks/logo-la-aficion.png"/>
    </div>
    <div class="sponsorship">
      <div class="image">
        <img src="/bundles/applicationcamusassets/images/sponsorship-type-2.jpg"/>
      </div>
      <div class="text">
        <h6>Patrocinado <br>por</h6>
      </div>
    </div>
    <div class="arrows">
      <button type="button" class="left">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button type="button" class="right">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <div class="notes">
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Futbol Int.</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  'Chicharito' felicita a las madres en su día
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-la-aficion.jpg"/>
          </a>
        </div>
      </div>
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Futbol Int.</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  Rusia celebra el Día de la Victoria con desfile militar
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-la-aficion.jpg"/>
          </a>
        </div>
      </div>
      <div class="note">
        <div class="bg-gradient">
          <div class="text">
            <div class="section">
              <h1>Futbol Int.</h1>
            </div>
            <div class="title ">
              <h1>
                <a href="">
                  Rusia celebra el Día de la Victoria con desfile militar
                </a>
              </h1>
            </div>
            <div class="footer">
              <h5>Gerardo Soriano</h5>
            </div>
          </div>
        </div>
        <div class="image">
          <a href="">
            <img src="/bundles/applicationcamusassets/images/blocks/block-la-aficion.jpg"/>
          </a>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
