<div class="block-national-firms">
  <div class="media-container">
    <div class="header">
      <h1>Firmas Nacional</h1>
      <div class="arrows">
        <button type="button" class="left">
          <span class="fa fa-chevron-left"></span>
        </button>
        <button type="button" class="right">
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <div class="firms">
      <div class="firms-note">
        <div class="image">
          <a href="">
            <img src="/bundles/camusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="autor">
          <h1>Román Revueltas Retes</h1>
          <h6>Subtitulo</h6>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <div class="section">
            <h5>Estilo</h5>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="firms-note">
        <div class="image">
          <a href="">
            <img src="/bundles/camusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="autor">
          <h1>Román Revueltas Retes</h1>
          <h6>Subtitulo</h6>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <div class="section">
            <h5>Estilo</h5>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="firms-note">
        <div class="image">
          <a href="">
            <img src="/bundles/camusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="autor">
          <h1>Román Revueltas Retes</h1>
          <h6>Subtitulo</h6>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <div class="section">
            <h5>Estilo</h5>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
      <div class="firms-note">
        <div class="image">
          <a href="">
            <img src="/bundles/camusassets/images/blocks/block-firms.jpg"/>
          </a>
        </div>
        <div class="autor">
          <h1>Román Revueltas Retes</h1>
          <h6>Subtitulo</h6>
        </div>
        <div class="content">
          <summary><a href="">Investigación sobre una fuga libre de toda sospecha</a>
          </summary>
        </div>
        <div class="footer">
          <div class="section">
            <h5>Estilo</h5>
          </div>
          <div class="social-networks-container-center-gray">

          </div>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
