<div class="block-moneros">
  <div class="media-container">
    <div class="header">
      <h1>Moneros</h1>
    </div>
    <div class="arrows">
      <button type="button" class="left">
        <span class="fa fa-chevron-left"></span>
      </button>
      <button type="button" class="right">
        <span class="fa fa-chevron-right"></span>
      </button>
    </div>
    <div class="notes">
      <div class="note">
        <div class="article-today-cartoons">
          <div class="media-container">
            <div class="img-container">
              <a href="">
                <img src="/bundles/camusassets/images/special_modules\today-cartoons.jpg" alt="" />
              </a>
            </div>

            <div class="container-light-cyan-utopia">
              <div class="headline-container-center-utopia">
                <h1>
                  <a href="">Empresas Fantasmas</a>
                </h1>
              </div>
              <div class="text-container-center-top-open-sans">
                <span>
                  Rapé
                </span>
              </div>
              <div class="social-networks-container-center-gray">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-today-cartoons">
          <div class="media-container">
            <div class="img-container">
              <a href="">
                <img src="/bundles/camusassets/images/special_modules\today-cartoons.jpg" alt="" />
              </a>
            </div>

            <div class="container-light-cyan-utopia">
              <div class="headline-container-center-utopia">
                <h1>
                  <a href="">Empresas Fantasmas</a>
                </h1>
              </div>
              <div class="text-container-center-top-open-sans">
                <span>
                  Rapé
                </span>
              </div>
              <div class="social-networks-container-center-gray">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-today-cartoons">
          <div class="media-container">
            <div class="img-container">
              <a href="">
                <img src="/bundles/camusassets/images/special_modules\today-cartoons.jpg" alt="" />
              </a>
            </div>

            <div class="container-light-cyan-utopia">
              <div class="headline-container-center-utopia">
                <h1>
                  <a href="">Empresas Fantasmas</a>
                </h1>
              </div>
              <div class="text-container-center-top-open-sans">
                <span>
                  Rapé
                </span>
              </div>
              <div class="social-networks-container-center-gray">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="note">
        <div class="article-today-cartoons">
          <div class="media-container">
            <div class="img-container">
              <a href="">
                <img src="/bundles/camusassets/images/special_modules\today-cartoons.jpg" alt="" />
              </a>
            </div>

            <div class="container-light-cyan-utopia">
              <div class="headline-container-center-utopia">
                <h1>
                  <a href="">Empresas Fantasmas</a>
                </h1>
              </div>
              <div class="text-container-center-top-open-sans">
                <span>
                  Rapé
                </span>
              </div>
              <div class="social-networks-container-center-gray">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dots">
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
      <h2>&#149;</h2>
    </div>
  </div>
</div>
