<div class="latest-topics">
  <div class="media-container">
    <div class="head">
      <h5>Últimos temas</h5>
    </div>
    <div class="carousel">
      <div class="left-arrow">
        <span class="fa fa-caret-left"></span>
      </div>
      <div class="topics">
        <ul>
          <li><h1><a href="#">CASO AGUASCALIENTES</a></h1></li>
          <li><h1><a href="#">PEÑA NIETO</a></h1></li>
          <li><h1><a href="#">RÍO 2016</a></h1></li>
          <li><h1><a href="#">SELECCIÓN MEXICANA</a></h1></li>
          <li><h1><a href="#">LIONEL MESSI</a></h1></li>
          <li><h1><a href="#">DEDAZO A BECKELES</a></h1></li>
          <li><h1><a href="#">JIM</a></h1></li>
        </ul>
      </div>
      <div class="right-arrow">
        <span class="fa fa-caret-right"></span>
      </div>
    </div>
  </div>
</div>
