<div class="radio">
  <div class="media-container">
    <div class="tabs">
      <ul>
        <li><h1>Monterrey 103.7 FM</h1></li>
        <li><h1>Jalisco 89.1 FM</h1></li>
        <li><h1>Laguna 99.5 FM</h1></li>
        <li><h1>Saltillo 99.3 FM</h1></li>
      </ul>
    </div>
    <div class="content">
      <div class="player">
        <div class="seen">
          <h1>En vivo</h1>
          <div class="sphere">
            <span class="fa fa-play"></span>
          </div>
        </div>
        <div class="loaded">
          <h1>
            <span class="actual">03:25</span>
            -
            <span  class="final">30:00</span>
          </h1>
        </div>
      </div>
      <div class="under-player">
        <div class="data">
          <h1>Nombre del programa</h1>
          <h5>
            <span class="collaborator-name">Nombre del colaborador</span>
            -
            <span class="date">10.12.2016</span>
          </h5>
        </div>
        <div class="share">
          <h5>Compartir</h5>
          <ul>
            <li class="fb">
              <span class="fa fa-share-square-o"></span>
              <h5>Comparte en Facebook</h5>
            </li>
            <li class="tw">
              <span class="fa fa-share-square-o"></span>
              <h5>Comparte en Twitter</h5>
            </li>
            <li class="wp">
              <span class="fa fa-share-square-o"></span>
              <h5>Comparte en WhatsApp</h5>
            </li>
            <li class="plus">
              <span class="fa fa-plus"></span>
              <h5>Más</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
