@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.ctr-stadistics-league, .ctr-stadistics-team, .ctr-stadistics-calendary, .ctr_stadistics_header{
  width: 100%;
  margin-bottom: 33px;
  .head-contianer{
    .head-items{
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      .title{
        @include text-with-roboto-color-alizarin-crimson;
        margin-right: 30px;
        min-height: 68px;
        line-height: 60px;
        font-size: 50px;
        font-style: italic;
        position: relative;
      }
      .league-logo{
        .image{
          position: relative;
          width: 100px;
          img{
            width: 80px;
          }
        }
      }
      .select-items{
        display: inline-flex;
        align-items: center;
        .apertura-select, .jornada-select, .fases-select{
          width: 145px;
          margin-right: 20px;
          select{
            @include text-with-roboto-regular-color-night-gray;
            width: 100%;
            border: 2px solid $color-dark-gray;
            background-color: $color-white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
          }
          .select-box{
            display: flex;
            padding-left: 2px;
            border: 2px solid black;
            .title-box{
              padding-top: 6px;
              width: 110px;
              padding-bottom: 4px;
              .dropbtn{
                background-color: unset;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 11px;
                @include text-with-roboto-regular-color-night-gray;
              }
              .dropdown-content{
                height: auto;
                max-height: 270px;
                overflow: auto;
                display: none;
                position: absolute;
                background-color: $color-very-clear-gray;
                width: 145px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                margin-left: -4px;
                margin-top: 5px;
                a{
                  color: $color-black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                  cursor: pointer;
                }
                a:hover{
                  background-color: $color-super-light-gray;
                }
              }
            }
            .arrow-box{
              height: auto;
              display: flex;
              float: right;
              align-items: center;
              background-color: $color-black;
              color: $color-white;
              width: 32px;
              justify-content: centeR;
            }
          }
          .select-box:hover{
            .dropdown-content{
              display: grid;
            }
          }
        }
      }
      .sponsor{
        display: inline-flex;
        align-items: center;
        .sponsor-text{
          @include text-with-roboto-regular-color-dove-gray;
          margin-right: 10px;
          min-height: 22px;
          color: $color-nobel;
          font-size: 11px;
          line-height: 13px;
          font-weight: 300;
          position: relative;
          margin-top: 10px;
        }
        .sponsor-img{
          img{
            width: 135px;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
  .info-league{
    width: 100%;
    margin-top: 35px;
    .container{
      width: 100%;
      padding: 0;
      font-size: 14px;
      @include text-with-roboto-regular-color-night-gray;
      p{
        span:first-of-type{
          @include text-with-roboto-black-color-night-gray;
        }
      }
    }
  }
  .body-container{
    width: 410px;
    margin-top: 40px;
    margin-bottom: 50px;
    .media-container {
      .section-see-more-container-transparent{
        margin-bottom: 12px;
        .section-title-container-transparent{
          border-top: solid 2px $color-yellow;
          border-bottom: solid 2px $color-yellow;
          line-height: 34px;
          font-size: 26px;
          border-width: 2px 0px;
          span{
            margin: 0;
            margin-bottom: 5px;
          }
        }
      }
      .content {
        padding: 0;
        .table-content {
          width: 100%;
          tr {
            th.pos, td.pos{
              padding-left: 10px;
              @include text-with-roboto-medium-color-night-gray;
            }
            th.image{
              @include text-with-roboto-medium-color-night-gray;
              width: 25px;
            }
            th.team, th.pts, th.jj, th.dg, th.jg, th.je, th.jp, th.gf, th.gc{
              text-align: center;
              width: 50px;
              @include text-with-roboto-medium-color-night-gray;
            }
            td.image{
              img{
                width: 20px;
                height: auto;
              }
            }
            td.team, td.pts, td.jj, td.dg, td.jg, td.je, td.jp, td.gf, td.gc{
              text-align: center;
            }
            th {
              line-height: 23px;
              font-size: 11px;
              text-transform: uppercase;
            }
            td {
              line-height: 30px;
              font-size: 12px;
              .team-name {
                line-height: 30px;
                font-size: 12px;
                @include text-with-roboto-regular-color-gray-glass;
              }
            }
            .table-bold{
              @include text-with-roboto-black-color-night-gray;
            }
          }
          tr:nth-child(even) {
              background-color: $color-very-clear-gray;
          }
        }
      }
    }
  }
  .footer-container{
    margin-bottom: 20px;
    .content{
      min-height: 31px;
      background-color: $color-gray-white;
      font-size: 13px;
      padding-top: 8px;
      padding-bottom: 13px;
      line-height: 22px;
      @include text-with-roboto-regular-color-night-gray;
      p{
        span{
          @include text-with-roboto-black-color-night-gray;
        }
      }
    }
  }
}

@include two-column{
  .ctr-stadistics-league, .ctr-stadistics-team, .ctr-stadistics-calendary, .ctr_stadistics_header{
    width: 100%;
    .head-contianer{
      .head-items{
        .league-logo{
          .image{
            img{
              width: 65px;
            }
          }
        }
        .select-items{
          .apertura-select{
            width: 140px;
            margin-right: 5px;
          }
          .jornada-select{
            width: 140px;
            margin-right: 0;
          }
        }
        .sponsor{
          position: relative;
          left: 205px;
        }
      }
    }
    .body-container{
      margin-left: 100px;
      margin-top: 20px;
      .section-see-more-container-transparent{
        .section-title-container-transparent{
          font-size: 24px;
        }
      }
    }
  }
}

@include one-column{
  .ctr-stadistics-league, .ctr-stadistics-team, .ctr-stadistics-calendary, .ctr_stadistics_header{
    margin-top: 35px;
    width: 100%;
    .head-contianer{
      .head-items{
        border-top: 1px solid $color-yellow;
        margin-bottom: 40px;
        .title{
          font-size: 22px;
          font-style: unset;
          width: 315px;
          margin-top: -5px;
        }
        .league-logo{
          .image{
            width: unset;
            img{
              width: 40px;
            }
          }
        }
        .select-items{
          .apertura-select, .jornada-select{
            width: 175px;
            margin-right: 10px;
            .select-box{
              .title-box{
                width: 137px;
                .dropdown-content{
                  width: 175px;
                }
              }
            }
          }
        }
        .sponsor{
          left: 85px;
          margin-top: 10px;
          bottom: 149px;
        }
      }
    }
    .info-league{
      margin-bottom: 50px;
      margin-top: -25px;
    }
    .body-container{
      width: 100%;
      margin-left: unset;
      margin-top: -25px;
      margin-bottom: 20px;
      .section-see-more-container-transparent{
        .section-title-container-transparent{
          font-size: 18px;
        }
      }
    }
    .footer-container{
      width: 100%;
    }
  }
}
