@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.market-funds{
  .content{
    display: flex;
    >.tables{
      width: 100%;
      .table{
        h1{
          @include text-with-open-sans-5-color-red-dark;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 400;
          margin: 0;
        }
        table{
          width: 100%;
          border-top: 1px solid $color-white;
          tr{
            th{
              font-family: $font-open-sans5;
              color: $color-dark-grayish-blue;
              font-weight: 400;
              font-size: 10px;
              text-align: right;
              height: 35px;
              vertical-align: text-top;
              &:first-child{
                text-align: left;
                width: 35%;
              }
            }
            td{
              @include text-with-sans-serif-color-night-gray;
              font-size: 11px;
              font-weight: 400;
              border: 1px solid $color-sky-cyan;
              background-color: $color-white;
              text-align: right;
              padding: 10px 0;
              &:first-child{
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
