<header id="main-header" class="header">
  <div class="container-menu">
    <div class="content">
      <a href="/"><img src="https://cdn.zenfolio.net/img/s/v-12/u27397674-o940956710-111.png" title="FotoChic by Chic Magazine" class="main-logo"/></a>
      <div class="container-right">
        <ul>
          <li class="header-link">EVENTOS RECIENTES</li>
          <li class="header-link">FOTOS <span class="header-item"> ▼</span>
            <ul class="sub-menu">
							<li class="sub-header-link">TODAS LAS FOTOS</li>
							<li class="sub-header-link">BODAS</li>
							<li class="sub-header-link">DESPEDIDAS</li>
							<li class="sub-header-link">CUMPLEAÑOS</li>
              <li class="sub-header-link">EXPOSICIONES</li>
              <li class="sub-header-link">INAUGURACIONES</li>
              <li class="sub-header-link">EVENTOS VARIOS</li>
              <li class="sub-header-link">BARES</li>
              <li class="sub-header-link">POSADAS</li>
              <li class="sub-header-link">CONCIERTOS</li>
					  </ul>
          </li>
          <li class="header-link">REVISTA</li>
          <li class="header-link">CONTACTO</li>
          <li class="header-link">VOLVER AL SITIO</li>
        </ul>
      </div>
      <div class="search-container">
        <form class="search-form search-item" action="/buscador" method="GET">
          <input type="text" class="search-input search-hidden" name="text" placeholder="BUSCAR" />
          <img src="https://cdn.zenfolio.net/zf/img/layout/search-bw-16.png" title="Buscar" style="transform:translate(131px,-19px);position:absolute;">
        </form>
      </div>
    </div>
  </div>
</header>
