@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.tabs-supplements{
  width: 100%;
  .tab-container{
      text-align: center;
    > div:nth-child(2){
      border-bottom-color: transparent;
      background-color: $color-sky-cyan;
    }
    > div{
      display: inline-block;
      width: 291px;
      padding-left: 10px;
      margin: 10px -5px -1px 0px;
      border: 1px solid $color-grayish-cyan;
    }
    div h2{
      line-height: 19px;
      font-size: 15px;
      @include text-with-open-sans-5-color-night-gray;
      font-weight: 900;
      margin-top: 10px;
      text-align: left;
    }
  }
  .content{
    background-color: $color-sky-cyan;
    border-top: 1px solid $color-grayish-cyan;
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .filter-date{
      margin-top: 40px;
      .edition-filter{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-grayish-cyan;
        .span{
          display: inline-block;
          span{
            @include text-with-open-sans-5-color-nobel;
            line-height: 13px;
            text-align: left;
            font-size: 11px;
            font-weight: 400;
          }
        }
        .editions-list{
          display: inline-block;
          width: 440px;
          border-radius: 0;
          height: 40px;
          background-color: white;
          border: 0;
        }
        .date{
          margin-top: 25px;
          span{
            @include text-with-open-sans-5-color-grayish-blue;
            font-weight: 400;
          }
        }
      }
    }
    .supplement-list{
      width: 100%;
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
      >div{
        margin-right: 18px;
      }
      .supplement-item{
        width: 192px;
        display: inline-block;
        margin-bottom: 30px;
        .img-container{
          width: 192px;
          display: inline-block;
          height: 288px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .choose{
          button{
            background-color: $color-grayish-blue;
            border: 0;
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            line-height: 15px;
            @include text-with-open-sans-5-color-white;
            font-weight: 700;
            width: 190px;
            min-height: 33px;
          }
        }
      }
      .number-pages-container > span{
        color: $color-gray;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-family: $font-open-sans5;
        font-weight: 700;
        margin-left: 15px;
        visibility: visible;
      }
      .number-pages-container{
        border-top: 1px solid #999999;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        .btn-next-page-container{
          display: inline-block;
          margin-left: 15px;
          button{
            background: $color-nobel;
            color: $color-white;
            padding: 6px 15px 6px 15px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            font-family: $font-open-sans5;
            font-weight: 700;
            border:none;
          }
        }
      }
    }
  }
}

@include two-column{
  .tabs-supplements{
    .tab-container{
      > div{
        width: 173px;
      }
    }
  }
};
@include one-column{
  .tabs-supplements{
    .tab-container{
      > div{
        width: 98px;
        padding-left: 0px;
        h2{
          text-align: center;
          font-size: 12px;
        }
      }
    }
    .content{
      .filter-date{
        .edition-filter{
          .editions-list{
            width: 240px;
            border: 1px solid $color-grayish-cyan;
          }
        }
      }
    }
  }
};
