@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.tabs-small{
  @include global-container-1c;
  .title{
    @include text-with-roboto-black-color-dark-gray;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    margin-left: 5px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0px;
    padding: 15px 0 15px 10px;
  }
  .media-container{
    height: 322px;
    .header{
      height: 10%;
      @include text-with-sans-serif-color-blue-gray;
      font-size: 14px;
      font-weight: 700;
      line-height: 32px;
      text-transform: uppercase;
      overflow: hidden;
    }
    >.tabs{
      display: flex;
      flex: none;
      height: 10%;
      overflow: hidden;
      margin-bottom: 10px;
      >ul{
        display: flex;
        flex: none;
        flex-grow: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        .tab-name{
          @include text-with-roboto-regular-color-gray-glass;
          width: 102px;
          min-height: 28px;
          border-width: 0px;
          border-color: transparent;
          background-color: $color-gray-white;
          padding-top: 5px;
          line-height: 14px;
          text-align: center;
          text-transform: capitalize;
          font-size: 11px;
          display: flex;
          flex: none;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          border-bottom: 0;
          cursor: pointer;
        }
      }
    }
    >.content{
      height: 89%;
      padding: 0;
      background-color: $color-white;
      // overflow-y: scroll;
      >ol{
        counter-reset: li;
        margin: 0;
        padding: 0;
        height: 100%;
        >li.title{
          @include text-with-roboto-medium-color-dark-gray;
          list-style: none;
          border-bottom: 1px solid #C4BEBE;
          margin-left: 0px;
          padding: 7px 10px 5px 50px;
          text-transform: none;
          overflow: hidden;
          height: 47px;
          /*list-style: none;
          margin: 0 0 0 2em;
          font-weight: 700;
          height: 20%;
          border-top: 1px solid $color-white;
          padding: 5px 0;*/
        }
        >li.title:first-child {
          border-top: 1px solid #C4BEBE;
        }
        >li.title:before{
          content: counter(li,decimal-leading-zero);
          counter-increment: li;
          position: absolute;
          left: 0;
          width: 40px;
          height: 40px;
          @include text-with-roboto-medium-color-white;
          border-color: $color-white;
          background-color: $color-yellow;
          padding-top: 9px;
          text-align: center;
          line-height: 19px;
          font-size: 16px;
          transform: translateY(-5px);
        }
      }
      .tab-content{
        display: none !important;
        counter-reset: li;
        .section-see-more-container-transparent{
          display: none;
        }
        li.title{
          list-style: none;
          @include text-with-roboto-medium-color-dark-gray;
          border-bottom: 1px solid #C4BEBE;
          margin-left: 0px;
          padding: 7px 10px 5px 50px;
          text-transform: none;
          overflow: hidden;
          height: 47px;
          /*list-style: none;
          margin: 0 0 0 20px;
          font-weight: 700;
          height: 20%;
          border-top: 1px solid $color-white;
          padding: 5px 0;*/
        }
        li.title:first-child {
          border-top: 1px solid #C4BEBE;
        }
        li.title:before{
          counter-increment: li;
          content: counter(li);
          position: absolute;
          left: 0;
          width: 40px;
          height: 40px;
          @include text-with-roboto-medium-color-white;
          border-color: $color-white;
          background-color: $color-yellow;
          padding-top: 9px;
          text-align: center;
          line-height: 19px;
          font-size: 16px;
          transform: translateY(-5px);
        }
        .list-base{
          padding: 0 10px;
        }
      }
      .tab-active{
        display: block !important;
      }
      table{
        display: none;
        padding: 0 5px;
      }
      .button{
        display: block !important;
        width: 40%;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        color: $color-gray;
      }
    }
    .tab-title-active{
      background-color: $color-gray-glass !important;
      font-family: $font-black !important;
      color: $color-white !important;
    }
  }
}
/*.tabs-small{
  @include global-container-1c;
  .title{
    margin: 0;
    color: $color-green;
    font-size: 14px;
    margin-left: 5px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .media-container{
    height: 322px;
    .header{
      height: 10%;
      @include text-with-sans-serif-color-blue-gray;
      font-size: 14px;
      font-weight: 700;
      line-height: 32px;
      text-transform: uppercase;
      overflow: hidden;
    }
    >.tabs{
      display: flex;
      flex: none;
      height: 10%;
      overflow: hidden;
      >ul{
        display: flex;
        flex: none;
        flex-grow: 1;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        .tab-name{
          display: flex;
          flex: none;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-light-green;
          border-bottom: 0;
          @include text-with-sans-serif-color-night-gray;
          font-weight: 600;
          font-size: 11px;
          cursor: pointer;
        }
      }
    }
    >.content{
      height: 90%;
      padding: 0;
      background-color: $color-light-green;
      overflow-y: scroll;
      >ol{
        counter-reset: li;
        margin: 0;
        padding: 0;
        height: 100%;
        >li.title{
          list-style: none;
          margin: 0 0 0 2em;
          font-weight: 700;
          height: 20%;
          border-top: 1px solid $color-white;
          padding: 5px 0;
        }
        >li.title:before{
          content: counter(li,decimal-leading-zero);
          counter-increment: li;
          position: absolute;
          left: 1em;
          font-weight: 100;
        }
      }
      .tab-content{
        display: none !important;
        counter-reset: li;
        .section-see-more-container-transparent{
          display: none;
        }
        li.title{
          list-style: none;
          margin: 0 0 0 20px;
          font-weight: 700;
          height: 20%;
          border-top: 1px solid $color-white;
          padding: 5px 0;
        }
        li.title:before{
          counter-increment: li;
          content: counter(li);
          position: absolute;
          left: 0;
          font-weight: 100;
        }
        .list-base{
          padding: 0 10px;
        }
      }
      .tab-active{
        display: block !important;
      }
      table{
        display: none;
        padding: 0 5px;
      }
      .button{
        display: block !important;
        width: 40%;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        color: $color-gray;
      }
    }
    .tab-title-active{
      background-color: $color-light-green;
    }
  }
}*/
