@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.sn-radio{
  display: inline-block;
  position: relative;
  width: $one-column;
  min-width: $one-column;
  max-width: $one-column;
  height: 237px;
  overflow: hidden;
  margin-right: 2px;
  background-color: $color-gray-white;
  .media-container{
    padding: 10px;
    .data{
      margin-bottom: $global-margin-bottom;
      .titulo{
        height: 40px;
        overflow: hidden;
        margin-bottom: 10px;
        @include text-with-open-sans-semibold-color-night-gray;
        font-size: 14px;
        line-height: 20px;
      }
      h5{
        float: left;
        margin: 5px 0;
        @include text-with-sans-serif-color-blue-gray;
        font-size: 10px;
        text-transform: uppercase;
      }
      .social-media{
        color: $color-nobel;
      }
      &:after{
        content: '';
        display: table;
        clear: both;
      }
    }
    .player{
      flex-basis: 100%;
      height: 90px;
      position: relative;
      float: none;
      background-color: $color-nobel;
      border-radius: 45px;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding-left: 10px;
      div{
        @include text-with-sans-serif-color-white;
        font-size: 11px;
        font-weight: 600;
        margin: 0;
      }
      .sphere{
        width: 90px;
        height: 100%;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        display: table;
        position: absolute;
        right: 0;
        span{
          color: $color-nobel;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
