<footer id="main-footer">
  <div class="head">
    <div class="notas-block">
      <div class="sections">
        <div class="option-container"><a href="/contactanos" target="_blank">Contacto</a></div>
        {#<div class="option-container"><a href="/quienes-somos" target="_blank">¿Quiénes Somos?</a></div>#}
        <div class="option-container"><a href="/aviso-legal-y-de-privacidad" target="_blank">Aviso</a></div>
        {# <li><a href="/" target="_blank">Directorio</a></li>
        <li><a href="/" target="_blank">Ánunciate</a></li> #}
      </div>
      {#<div class="logo-container">
        <div class="img-container"><a href="https://www.milenio.com" target="_blank"><img class ="square" src="/bundles/applicationcamusassets/images/m-b.png" alt="M ©"/></a></div>
        <div class="img-container"><a href="https://www.milenio.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-milenio.png" alt="MILENIO"/></a></div>
        <div class="double-img">
          <div class="img-container"><a href="https://www.multimedios.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-multimedios.png" alt="MULTIMEDIOS"/></a></div>
          <div class="img-container"><a href="https://www.mediotiempo.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-mediotiempo.png" alt="MEDIO TIEMPO"/></a></div>
        </div>
      </div>#}

      <div class="logo-container">
        <div class="img-container sup"><a href="https://www.milenio.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-gpomilenio.png" alt="MILENIO"/></a></div>
        <div class="img-container"><a href="https://www.multimedios.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-multimedios.png" alt="MULTIMEDIOS"/></a></div>
        <div class="img-container"><a href="https://www.mediotiempo.com" target="_blank"><img src="/bundles/applicationcamusassets/images/logo-mediotiempo.png" alt="MEDIO TIEMPO"/></a></div>
      </div>

      {#<div class="rights-reserved">
        <p>Derechos reservados</p>
        <p>© MedioTiempo {{ 'now'|date('Y') }}</p>
      </div>#}

    </div>
    {# <div class="right to-top">
      <span class="fa fa-arrow-up"></span>
    </div> #}
  </div>
  <div class="content">
    {# <div class="sections">
      <p><a href="/" target="_blank"></a></p>
    </div> #}
    <div class="social-network">
      <div class="text">
        <span>Visitanos en:</span>
      </div>
      <div class="networks">
        <a href="https://www.facebook.com/RevistaFamaMx/" class="fa fa-facebook" target="_blank"></a>
        {#<a href="https://twitter.com/fama_revista" class="fa fa-twitter" target="_blank"></a>#}
        {# <a href="https://www.instagram.com/milenio/" class="fa fa-instagram" target="_blank"></a> #}
        {#<a href="https://plus.google.com/+MedioTiempo" class="fa fa-google-plus" target="_blank"></a>
        <a href="https://www.youtube.com/user/MedioTiempoTV12" class="fa fa-youtube" target="_blank"></a>#}
      </div>
    </div>
    <div class="rights-reserved">
      <span class="copyright">DERECHOS RESERVADOS © GRUPO MILENIO {{ 'now'|date('Y') }}</span>
      {# <img src="/bundles/applicationcamusassets/images/comscore.png" class="comscore" alt="comScore"> #}
    </div>
    {# <div class="images">
      <div class="image-left">
        <img src="/bundles/applicationcamusassets/images/blocks/footer(1).png">
      </div>
      <div class="image-right">
        <img src="/bundles/applicationcamusassets/images/blocks/footer(2).jpg">
      </div>
    </div> #}
  </div>
</footer>
