<footer id="main-footer">
  <div class="head">
    <div class="notas-block">
      <div class="sections">
        <ul>
          <li class="footer-link">SESIÓN/REGISTRO</li>
          <span class="footer-item">|</span>
          <li class="footer-link">EVENTOS RECIENTES</li>
          <span class="footer-item">|</span>
          <li class="footer-link">REVISTA</li>
          <span class="footer-item">|</span>
          <li class="footer-link">CONTACTO</li>
          <span class="footer-item">|</span>
          <li class="footer-link">VOVLER AL SITIO</li>
        </ul>
      </div>
      <div class="logo-container">
        <div class="img-container sup"><a href="/" target="_blank"><img class="imgfooter" src="https://cdn.zenfolio.net/img/s/v-12/u353148279-o940956710-111.png" title="FotoChic by Chic Magazine"/></a></div>
      </div>
      <!-- /bundles/camusassets/images/placeholder.jpg -->
    </div>
  </div>
  <div class="footer-red-social" style="position:absolute;right:0.3%;bottom:55%;">
    <a class="icon-twit" target="_blank" href="https://twitter.com/chic_mty"><img src="https://cdn.zenfolio.net/zf/img/icons/icon-twitter-bw-22.png" title="Twitter"></a>
    <a class="icon-insta" target="_blank" href="https://www.instagram.com/chic_mty/"><img src="https://cdn.zenfolio.net/zf/img/icons/icon-instagram-22-bw.png" title="Instagram"></a>
    <a class="icon-face" target="_blank" href="https://www.facebook.com/chicmagazinemty/"><img src="https://cdn.zenfolio.net/zf/img/icons/icon-facebook-bw-22.png" title="Facebook"></a>
  </div>
  <div class="content">
    <div class="social-network">
      <div class="text">
        <div class="agreement"><a href="/" rel="nofollow">Acuerdo de usuario</a></div>
      </div>
    </div>
    <div class="rights-reserved">
      <span class="copyright">FotoChic por Chic Magazine. Mirar y comprar fotografías de tus mejores eventos, solo en FotoChic.</span>
    </div>
  </div>
