$sidebar-width: 300px;
$sidebar-width-small: 250px;
$submenus-height: 33px;
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html{
  overflow-x: hidden;
  background-color: $color-white !important;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
h1, div{
  a{
    color: inherit;
    text-decoration: none !important;
  }
  a:hover{
    text-decoration: underline;
    color: inherit;
  }
  a:focus{
    text-decoration: underline;
    color: inherit;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}
ol,ul {
    margin-top: 0;
    margin-bottom: 10px
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.text-hide {
  color: $transparent;
  text-shadow: none;
  background-color: $transparent;
  border: 0
}
.hide {
  display: none!important
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

// #userResetPassword, .register-input{
//   &.warning{
//     background-color: $color-yellow;
//   }
// }
// #userResetPassword{
//   margin-top: 10px;
// }
// .ui-loader{
//   display: none;
// }
//
//
// #sidebar{
//   display: none;
//   height: 100%;
//   width: $sidebar-width;
//   position: fixed;
//   z-index: 10;
//   top: 0;
//   left: 0;
//   overflow-x: hidden;
//   color: $color-black;
//   background-color: $color-light-shadow-gray;
//   padding-top: 0;
//   list-style-type: none;
//   transform: translatey(0px);
//   .camus_mobile {
//     display: none;
//     position: absolute;
//     top: 20px;
//     right: 8%;
//   }
//   #piano-user {
//     width: 90%;
//     margin: 10px 5%;
//     .piano-id-container {
//       iframe {
//         width: 100% !important;
//       }
//     }
//   }
//   .container-access{
//     position: relative;
//     padding: 10px;
//     .textBold{
//       margin-top: 15px;
//     }
//   }
//
//   .container-today{
//     padding: 0 10px 0 20px;
//     .today{
//       @include text-with-open-sans-bold-color-black;
//     }
//     ul{
//       margin-bottom: 15px;
//       padding-left: 0;
//       list-style: none;
//       @include text-with-open-sans-5-color-night-gray;
//       font-size: 12px;
//       line-height: 22px;
//       li{
//         display: inline;
//         margin-right: 10px;
//       }
//     }
//   }
// }
//
// #social-login{
//   margin: 15px 10px;
//   .close{
//     float: left;
//     width: 30px;
//     height: 30px;
//     padding: 3px;
//     font-size: 24px;
//   }
//   .btn-exit,.btn-register,.btn-login{
//     cursor: pointer;
//   }
//   .btn-login, .btn-register, .btn-exit, .btn-profileUser{
//     float: right;
//     margin: 0 10px;
//     padding: 4px 0;
//     font-size: 16px;
//   }
//   .btn-profileUser{
//     max-width: 120px;
//     display: block;
//     margin: 0px;
//     height: 30px;
//     overflow: hidden;
//   }
//   &::after{
//     content: "";
//     clear: both;
//     display: table;
//   }
// }

#main-header{
  max-width: 1284px;
  margin: auto;
  height: 100px;
  z-index: 100;
  .btn-login, .btn-register, .btn-exit{
    cursor: pointer;
  }
  .container-menu{
    height: 65px;
    @include three-column{
      background-size: auto;
    }
    @include one-column{
      height: 45px;
      background-size: auto 45px;
    }
    .content{
      height: 100%;
      .main-logo{
        position: absolute;
        transform: translate(-32px, 0px);
        max-width: 384px;
      }
      .search-container {
        position: relative;
        float: right;
        top: 43%;
        .fa-search{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 15px;
          color: gray;
        }
      }

      input[type=text] {
        padding: 3px 0px 3px 10px;
        margin-top: 8px;
        font-size: 12px;
        border: none;
        box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
        font-weight: bold;
        background-color: #ffffff;
        color: #999;
        border-radius: 16px 16px 16px 16px;
        display: block;
        line-height: 16px;
      }

      .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }

      .container-right{
        position: relative;
        top: 50%;
        left: 390px;
        .header-link{
          line-height: 20px;
          height: 20px;
          padding: 5px 12px;
          font-size: 13px;
          font-weight: 900;
          display: inline-block;
          text-decoration: none;
          .header-item{
            padding-left: 3px;
            font-size: 8px;
            position: relative;
            bottom: 1px;
          }
        }

        .header-link:hover{
          color:$color-gray-sky;
        }

        .header-link:hover .sub-header-link{
          display: block;
        }

        .header-link:hover .sub-menu{
          opacity: 1;
        }

        .sub-menu{
          display:grid;
          position:absolute;
          left: 185px;
          top:20px;
          opacity: 0;
          transition: opacity ease-in 0.6s;
          z-index: 101;
          .sub-header-link{
            display: none;
            background-color: $color-white;
            line-height: 46px;
            height: 34px;
            padding: 0px 14px;
            font-size: 14px;
            font-weight: 900;
          }

          .sub-header-link:hover{
           color:$color-gray-sky;
          }

        }

        ul{
          float: left;
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          @include text-with-open-serif-color-pencil-gray;

          li{
            float: left;
            margin-right: 25px;

          }
        }
      }
    }
  }
  .container-submenu{
    height: $submenus-height;
    background-color: $color-white;
    .content{
      width: 1284px;
      padding: 0 15px;
      margin: 0 auto;
      .fixed-sections, .container-list-sections{
        line-height: $submenus-height;
      }
      .fixed-sections{
        float: right;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-white;
      }
    }
  }
  @include three-column{
    max-width: 966px;
  }
  @include skyscraper-media{
    max-width: 966px;
  }
  @include two-column{
    max-width: 618px;
  }
  @include one-column{
    max-width: 320px;
  }
}

@include three-column{
  #main-header{
    .container-menu{
      .content{
        max-width: 1604px;
      }
    }
    .container-submenu{
      .content{
        max-width: 1604px;
      }
    }
  }
};
@include skyscraper-media{
  .container-right ul{
    width: 600px;
  }
  .search-container{
    top: 73%;
  }
};
@include two-column{
  .body-content>.content{
    padding: 0px !important;
  }
  #main-header{
    .container-menu{
      .content{
        max-width: 968px;
        padding: 0;
        .main-logo{
          max-width: 200px;
          transform: translate(-10px, 20px);
        }
        .container-right{
          display: flex;
          top: 40%;
          left: 200px;
          width: 500px;
        }
        .search-container{
          top: 0%;
          right: 20px;
        }
      }
    }
  }
};
@include one-column{
  #main-header{
    .container-menu{
      .content{
        max-width: 648px;
        padding: 0;
        .main-logo{
          max-width: 150px;
        }
        .container-right{
          top: 0%;
          left: 143px;
          width: 243px;
          .sub-menu{
            left: 0px;
            top: 40px;
          }
        }
        .search-container{
          top: -100%;
          right: 15px;
          .search-input {
            width: 100px;
          }
        }
      }
    }
  }
};

.body-content{
  >.content{
    @include three-column{
      max-width: 966px;
    }
    @include skyscraper-media{
      max-width: 966px;
    }
    @include two-column{
      max-width: 618px;
    }
    @include one-column{
      max-width: 320px;
    }
    max-width: 1284px;
    margin: auto;
    margin-bottom: 50px;
    .contenedor-notas-block{
    	position: relative;
    	width: 100%;
      max-width: 1940px;
    	background-color: $transparent;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }
    .contenedor-detail-block{
      position: relative;
      margin: 0 auto;
      padding: 0 15px;
      background-color: $color-white;
      transition: all 0.3s;
      &.news, &.opinion, &.event, &.live{
        max-width: 988px;
      }
      &.basic{
        max-width: 1284px;
        @include three-column{
          max-width: 988px;
        };
      }
      >.list-base-findings{
        display: none;
      }
      >.sn-frame, >.eo-free{
        margin: 18px auto;
        display: block;
      }
      >.sn-frame{
        .media-container{
          height: auto;
          min-height: auto;
          max-height: none;
        }
      }
      &.news, &.opinion, &.event, &.basic{
        @include two-column{
          max-width: 658px;
          padding: 0px 20px;
        }
        @include one-column{
          max-width: 340px;
          padding: 0 10px;
          >.list-base-findings{
            display: block;
          }
        }
      }
    }
  }
  &.view-small{
    margin-top: 45px;
  }
}
.copyrightG{
  display: none;
  color: #5e5e5e;
  font-size: 12px;
  font-family: Verdana,Geneva,Tahoma,sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 160%;
  letter-spacing: 0px;
  padding-top: 12px;
  text-align: center;
  margin-bottom: 15px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .body-content{
      .content{
        .contenedor-notas-block{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
}
.background-color-container{
  background:$color-space-gray;
}
.fa-play{
  color: $color-white;
}
.container-space-gray, .description-btn-container{
  .fa-play{
    font-size: 15px;
  }
}
/*--------------------------------------------*/
.media-container-white{
  background-color: $color-white;
}
.media-container-white{
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  float: left;
}

/*--------------------------------------------*/
.social-media-buttons{
  float: left;
  .share-social-media-buttons{
    display: flex;
  }
  .SocialMediaShareButton{
    margin-right: 5px;
  }
  .whatsapp-share-modules {
    display: none;
  }
  @include one-column {
    .whatsapp-share-modules {
      display: block;
    }
  };
}
.social-media{
  display: inline-block;
  float: right;
  color: $color-white;
  .SocialMediaShareButton:nth-child(n+2), .SocialMediaShareButton:nth-child(n+3){
    margin-left: 12px;
  }
  .share-social-media{
    display: flex;
    > .whatsapp-share-modules{
      display: none;
      @include one-column{
        display: block;
      }
    }
    .SocialMediaShareButton{
      display: table;
      text-align: center;
      width: 15px;
      height: 15px;
      background: $color-dark-gray;
      cursor: pointer;
      i{
        vertical-align: middle;
      }
      &.facebook-share-modules{
        &:hover{
          background: $color-facebook-dark;
        }
      }
      &.twitter-share-modules{
        &:hover{
          background: $color-twitter;
        }
      }
      &.whatsapp-share-modules{
        &:hover{
          background: $color-whatsapp;
        }
      }
    }
  }
}
.social-networks-share{
  font-size: 11px;
  color: $color-white;
  .span-share{
    margin-bottom: 10px;
    color: $color-nobel;
  }
  .share-container{
    margin-bottom: 2px;
    min-height: 40px;
    padding: 11px 20px;
    i{
      width: 35px;
      vertical-align: middle;
      font-size: 18px;
    }
  }
  .facebook-share-modules{
    background-color: $color-facebook;
  }
  .twitter-share-modules{
    background-color: $color-twitter;
  }
  .whatsapp-share-modules{
    background-color: $color-whatsapp;
    display: none;
  }
  .more{
    background-color: $color-light-silver;
    table{
      width: 100%;
    }
    .gig-button-container{
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  @include one-column{
    width: 100% !important;
    .share-container{
      float: left !important;
      width: 25% !important;
      height: 50px;
      margin: 0 !important;
      i{
        width: 100%;
        line-height: 1.8;
        text-align: center;
      }
      span{
        display: none;
      }
      img{
        width: 100%;
      }
    }
    .whatsapp-share-modules{
      display: inline-block;
    }
    .span-share{
      display: none;
    }
  }
}
.slick-dots li button:before{
  font-size: 10px !important;
}
img.b-loaded,img.b-error{
  opacity: 1;
}
@include one-column{
  .slick-dots li{
    margin: 0 !important;
  }
};
#container-redband{
  line-height: 0;
}
@include one-column {
  .twitter-video{
    min-width: 300px !important;
  }
};
.checkbox{
  .cr, .info-label{
    display: inline-block;
    vertical-align: middle;
  }
  .cr{
    margin-right: 5px;
    padding: 9px;
    background: $color-white;
    .cr-icon{
      font-size: 22px;
    }
  }
  label{
    padding-left: 0px !important;
    font-size: 11px;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
}
.checkbox label input[type="checkbox"]{
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}
.carousel-lock{
  transform: none !important;
}
/* ------- Video flotante ------- */
.btn-remove-floated{
  display: none;
  position: absolute;
  top: 0;
  right: -30px;
  padding: 5px;
  font-size: 20px;
  line-height: 0;
  border: 0;
  outline: 0;
  background-color: $color-gray-white;
  .fa{
    top: 0;
  }
}
.floated{
  position: fixed;
  right: 45px;
  bottom: 15px;
  width: 410px !important;
  height: 260px !important;
  padding: 5px;
  z-index: 9;
  background-color: $color-gray-white;
  .img-container{
    height: 100% !important;
    overflow: visible;
  }
  .btn-remove-floated{
    display: block !important;
  }
  @include one-column{
    right: 35px;
    width: 320px !important;
    height: 210px !important;
  };
}
/* ------------------------------- */
.img-container, .image, .holder-container{
  overflow: hidden;
  img{
    width: 100%;
    height: auto !important;
    object-fit: contain;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
html.vrBlock, body.vrBlock{
  overflow: hidden;
  position: relative;
}
// body.vrBlock{
//   transform: translateY(-200px);
// }
//
/*body.vrBlock, html.vrBlock{
  position: relative !important;
}*/
.deployFix{
  margin: 5px 0;
  padding: 25px 20px;
  @include text-with-roboto-black-color-black;
  font-size: 11px;
  text-align: center;
  transition: padding 0.2s ease-out;
  background-color: $colot-luminous-vivid-yellow;
}
.apply-grid-full, .visor-container{
  position: relative;
  width: 100%;
  overflow: hidden;
  //@include grid-dynamic-full();

  @include two-column{
    .paper_image{
      float: left;
    }
  }

  @media only screen and (min-width: 938px) and (max-width: 1574px){
    .magazine-viewport{
      .container{
        left: 45.4rem;
        .page-wrapper{
          div{
            .even{
              width: 425px;
            }
          }
        }
      }
    }
  }

}
.deployFree{
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px 0;
  padding: 30px 15px;
  @include text-with-roboto-black-color-black;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: padding 0.2s ease-out;
  background-color: $colot-luminous-vivid-yellow;
}
.personalizado.slick-dots li.slick-active button{
  &:before{
    opacity: .25;
  }
}
.personalizado.slick-dots li.slick-active.personalizado button{
  &:before{
    opacity: .75;
  }
}
.container-loader{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  z-index: 102;
}
.loader-milenio,
.loader-milenio:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-milenio {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(251, 175, 63, 0.2);
  border-right: 1.1em solid rgba(251, 175, 63, 0.2);
  border-bottom: 1.1em solid rgba(251, 175, 63, 0.2);
  border-left: 1.1em solid $color-alizarin-crimson;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
/*-------------------capa oscura-------------------------*/
.layer{
  position: fixed;
  background: rgba(0, 0, 0, 0.64);
  height: 100%;
  bottom: 0;
  width: 100%;
  z-index: 0;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}
/*-------------------boton de favoritos-------------------------*/
$fav-size-0: 1rem;
$fav-size--2: 0.8rem;
$fav-size-2: 1.25rem;
$fav-size-3: 1.42875rem;
.fav-container {
	.fav-btn {
    opacity: 0;
    top: auto;
    left: 0;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
		justify-content: center;
		align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
		.favme {
			display:block;
			font-size: $fav-size-2;
			width: auto;
			height: auto;
			cursor: pointer;
			box-shadow: none;
			transition: all .2s ease;
			color: $color-lighter-silver;
			margin: 0;

			&.active {
				color: $color-red-alizarin-crimison;
			}
			&:hover {
				animation: favme-hover .3s infinite alternate;
			}
			&.is_animating {
				animation: favme-anime .3s;
			}
		}
	}
  .active{
    opacity: 1 !important;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes favme-anime {
  0% {
		opacity: 1;
    transform: scale(1);
		// font-size: $fav-size-0;
		-webkit-text-stroke-color: $transparent;
	}
	25%	 {
		opacity:.6;
		color: #FFF;
    transform: scale(.7);
		// font-size: $fav-size--2;
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: $color-red-dark;
	}
	75%	 {
		opacity:.6;
		color: #FFF;
    transform: scale(1.32);
		// font-size: $fav-size-3;
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: $color-red-dark;
	}
  100% {
		opacity: 1;
    transform: scale(1.15);
		// font-size: $fav-size-2;
		-webkit-text-stroke-color: $transparent;
	}
}

@keyframes favme-hover {
	from {
    transform: scale(1.22);
		// font-size: $fav-size-3;
	}
	80% {
    transform: scale(1.05);
		// font-size: $fav-size-2;
	}
}
