@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
body, html{
  line-height: 12px!important;
}
.bcontent{
  column-count: 4;
  @include three-column{
    column-count: 4;
  }
  @include skyscraper-media{
    column-count: 2;
  }
  @include two-column{
    column-count: 2;
  }
  @include one-column{
    column-count: 1;
  }
  .contenedor-notas-block{
    display: block !important;
  }
}
.sn-bottom-text-note{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 460px;
  .media-container{
    position: relative;
    .img-container{
    }
    .headline-bottom-container-gradient{
      margin-bottom: 0px;
      .title{
        color: rgb(240,240,240);
        font-family: Verdana,Geneva,Tahoma,sans-serif;
        font-size: 13px;
        font-weight: 900;
        font-style: normal;
        text-transform: none;
        letter-spacing: 1px;
        text-shadow: rgba( 0, 0, 0, 0) 0px 0px 0px;
        transform: translate(10px,-10px);
      }
    }
  }
}

@include one-column{
  .sn-bottom-text{
    .media-container{
      .headline-bottom-container-gradient{
        .section-top, .title{
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
  }
};
