@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
body, html{
  line-height: 11px!important;
}
.sn-bottom-text-note{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  flex-basis: calc(100% / 4);
  // max-width: 307px;
  .media-container{
    position: relative;
    .img-container{
    }
    .headline-bottom-container-gradient{
      margin-bottom: 0px;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      opacity: 0;
      transition: opacity ease-in 0.3s;
      min-height: 32px;
      position: absolute;
      width: 100%;
      .title{
        margin: 10px;
        color: $color-white;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: normal;
      }
    }
    .button-buy{
      background-color: #ebebeb;
      height: 24px;
      float: right;
      vertical-align: top;
      -moz-transition: opacity ease-out 0.2s;
      -webkit-transition: opacity ease-out 0.2s;
      -o-transition: opacity ease-out 0.2s;
      transition: opacity ease-out 0.2s;
      position: relative;
      bottom: 10px;
      .text-buy{
        color: #575757;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 2px;
      }
      &:hover{
        background-color: #bcbcbc;
      }
    }
    &:hover{
      .headline-bottom-container-gradient{
        opacity: 1;
      }
    }

  }
}

@include one-column{
  .sn-bottom-text{
    .media-container{
      .headline-bottom-container-gradient{
        .section-top, .title{
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
  }
};
