@import "../../../modules/media-queries.scss";
@import "../../../modules/main-colors.scss";
@import "../../../modules/global-containers-mixin.scss";
@import "../../../modules/main-fonts-mixin.scss";
@import "../../../modules/main-containers-mixin.scss";
.sn-top-text{
  @include global-container-1c;
  border-radius: 10px;
  .media-container{
    @include rows-height(1);
    .item-icon{
      @include item-icon("small");
      bottom: 20px;
      right: 20px;
    }
    .headline-top-container-gradient{
      .title, .hint{
        font-size: 26px;
        line-height: 27px;
      }
      .sponsor{
        font-size: 10px;
        position: relative;
        height: 25px;
        margin-top: unset;
        @include text-with-roboto-regular-color-white;
        .caption{
          width: 82px;
          margin-right: 7px;
        }
        a{
          img{
            width: 130px;
            height: auto;
            max-width: unset;
          }
        }
      }
    }
    .image{
      height: inherit;
    }
  }
}

@include one-column{
  .sn-top-text{
    .media-container{
      .headline-top-container-gradient{
        .title, .hint{
          font-size: 20px;
          line-height: 22px;
        }
        .sponsor{
          //bottom: 40px;
        }
      }
    }
  }
};
