<div class="block-about">
  <h4>  -</h4>
  <h4>GRUPO MILENIO</h4>
  <ul class="directorio">
    <li>(+) Jesús D. González Fundador</li>
    <li>Francisco A. González Presidente del Consejo de Administración</li>
    <li>Francisco D. González Presidente Ejecutivo</li>
    <li>Jesús D. González Vicepresidente</li>
    <li>Carlos Marín Asesor de la Presidencia Ejecutiva</li>
    <li>Ángel Cong Director General Adjunto</li>
    <li>Pedro González Director General Adjunto</li>
    <li>Hugo Chapa Director Ejecutivo</li>
    <li>Javier Chapa Director de Medios Impresos</li>
    <li>Alfredo Campos Director Editorial</li>
    <li>Roberto López Subdirector Editorial</li>
    <li>Juan Pablo Becerra-Acosta Subdirector Editorial</li>
    <li>Héctor Zamarrón Subdirector Editorial</li>
    <li>Óscar Cedillo Director Editorial de Milenio Digital</li>
    <li>Bárbara Anderson Directora de Innovación Editorial</li>
    <li>Rafael Ocampo Director de Milenio Televisión</li>
    <li>Miguel Ángel Vargas Director de Enlace Editorial</li>
    <li>Mauricio Morales Director de Desarrollo Corporativo</li>
    <li>Adriana Obregón Directora Comercial</li>
    <li>Ricardo Zamora Director de Enlace Institucional</li>
    <li>Dyana Reyes Directora de Innovación Comercial</li>
    <li>Adrián Loaiza Director de Tecnología y Procesos</li>
    <li>Guillermo Franco Director de Ingeniería y Regulación</li>
    <li>Fernando Ruiz Director de Producción</li>
    <li>Alberto Braña Director de Producciones Editoriales</li>
    <li>Valeria González Directora Creativa</li>
    <li>Rodolfo Gutiérrez Director de Desarrollo Digital</li>
    <li>Tomás Sánchez Director de Responsabilidad Social</li>
    <li>Marco A. Zamora Director de Proyectos Especiales</li>
  </ul>
  <h4>-</h4>
  <h4>PUBLICACIONES MILENIO</h4>
  <ul class="directorio">
    <li>Luis Petersen Monterrey</li>
    <li>Manuel Baeza Sánchez Jalisco</li>
    <li>Marcela Moreno Laguna</li>
    <li>Sergio Villafuerte Estado de México</li>
    <li>Miguel Ángel Puértolas León</li>
    <li>Miguel Ángel Vargas Hidalgo</li>
    <li>Pablo Ruiz Puebla</li>
    <li>Pedro Elizalde Tamaulipas</li>
  </ul>
  <h4>-</h4>
  <h4></h4>
  <ul class="directorio">
    <li>México +52 (55) 51404900</li>
    <li>Guadalajara +52 (33) 36683100</li>
    <li>Monterrey +52 (81) 81505500</li>
    <li>Tampico +52 (83) 32190575,+52 (83) 32190515</li>
    <li>Torreón +52 (871) 7490011</li>
    <li>León +52 (47) 77112050</li>
    <li>Puebla +52 (222) 1300505</li>
    <li>Estado de México +52 (72) 22159221</li>
    <li>Pachuca +52 (77) 17156531</li>
    <li>Milenio Televisión +52 (55) 51402935</li>
  </ul>
</div>
