<div class="block-announce">
  <h4>-</h4>
  <span class="head-title">Descarga la presentación digital</span>
  <img class="image-subscription" src="/bundles/camusassets/images/suscripciones-test.jpg" alt="" />
  <ul class="collection-dispositives">
    <li>
      <div class="container-text">
        <img src="http://cases-assoc.com/beta/milenio/mi_1254_d18_anunciate/images/imagen%20pegada%20256x256.png" alt="" />
        <span class="title" >Tablet</span>
        <div class="subtitle">Especificaciones Técnicas publicitarias</div>
        <span class="container-red">Descargar</span>
      </div>

    </li>
    <li>
      <div class="container-text">
        <img src="http://cases-assoc.com/beta/milenio/mi_1254_d18_anunciate/images/imagen%20pegada%20256x2562.png" alt="" />
        <span class="title" >Smartphone</span>
        <div class="subtitle">Especificaciones Técnicas publicitarias</div>
        <span class="container-red">Descargar</span>
      </div>
    </li>
    <li>
      <div class="container-text">
        <img src="http://cases-assoc.com/beta/milenio/mi_1254_d18_anunciate/images/imagen%20pegada%20512x512.png" alt="" />
        <span class="title" >Web</span>
        <div class="subtitle">Especificaciones Técnicas publicitarias</div>
        <span class="container-red">Descargar</span>
      </div>
    </li>
    <li>
      <div class="container-text">
        <img src="http://cases-assoc.com/beta/milenio/mi_1254_d18_anunciate/images/imagen%20pegada%20512x5122.png" alt="" />
        <span class="title" >Presentación Comercial</span>
        <div class="subtitle">Conoce más sobre nuestro sitio</div>
        <span class="container-red">Descargar</span>
      </div>
    </li>
  </ul>
</div>
