<div class="component-contact-list">
  <div class="contact-top">
    <div class="left">
      <span>Elija a quién contactar</span>
    </div>
    <div class="right">
      <span class="fa fa-arrow-down" aria-hidden="true"></span>
    </div>
  </div>
  <div class="contact-bottom">
    <span class="title-bottom">Milenio Diario</span>
    <ul>
      <li>Morelos No.16</li>
      <li>Col. Centro</li>
      <li>Ciudad de México CP 06040</li>
      <li>Conmutador: (55) 5140-4900</li>
      <li>Suscripciones: (55) 5140-4999</li>
      <li>Redacción: (55) 5140-4982</li>
      <li>Fax: (55) 5140-4904</li>
      <li>Publicidad: (55) 5140-2950</li>
      <li>Atención a clientes: (55) 5140-4999 </li>
    </ul>
  </div>
  <div class="list-drop">
    <ul>
      <li>Nacional</li>
      <li>Estado de México</li>
      <li>Monterrey</li>
      <li>Jalisco</li>
      <li>Laguna</li>
      <li>Tamaulipas</li>
      <li>Puebla</li>
      <li>León</li>
      <li>Hidalgo</li>
    </ul>
  </div>
</div>
