<div class="block-privacy">
  <h4>-</h4>
  <h4>AVISO DE PRIVACIDAD</h4>
  RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES
  <br>
  Milenio Diario, S.A. de C.V. (Milenio Diario) con domicilio en Morelos No. 16, Col. Centro, C.P. 06040, México Distrito Federal es responsable del tratamiento de sus datos personales conforme a este aviso de privacidad.
  <br>
  <h4>-</h4>
  <h4>FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</h4>
  Los Datos Personales en posesión de Milenio Diario serán utilizados para:
  - Prestación de servicios.
  - Información sobre servicios, productos o eventos incluyendo envío de publicidad y boletines informativos de Milenio Diario y cualquiera de las empresas pertenecientes a su mismo grupo corporativo.
  - Dar cumplimiento a obligaciones.
  - Evaluaciones de calidad y servicio.
  - Análisis internos de servicios.

  “Para cumplir con los fines anteriores requeriremos datos personales de identificación tales como nombre completo, edad y datos de contacto incluyendo teléfono, domicilio y cuenta de correo electrónico.”
  <br>
  <h4>-</h4>
  <h4>TRANSFERENCIA</h4>
  Milenio Diario puede transferir los datos personales en su posesión a terceros subcontratados o relacionados con la prestación de servicios, con fines publicitarios o estudios de mercado.
  <br>
  <h4>-</h4>
  <h4>LIMITACIÓN DE USO Y DIVULGACIÓN DE DATOS PERSONALES</h4>
  Para limitar el uso de sus datos personales, favor de enviar un correo electrónico a datospersonales@milenio.com o notificación por escrito a Morelos No. 16, Col. Centro, C.P. 06040, México Distrito Federal, dirigida al Departamento de Datos Personales en el que se señale la limitación al uso de sus datos deseada.

  Se considera que autoriza el uso de sus datos personales conforme a este aviso de privacidad, salvo comunicación en contrario.
  <br>
  <h4>-</h4>
  <h4>MEDIOS PARA EJERCER DERECHOS ARCO (ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN)</h4>
  Puede Acceder, Rectificar, Cancelar y Oponerse al uso de sus datos personales enviando una solicitud por escrito dirigida a nuestro Departamento de Datos Personales de Lunes a Viernes de 9:00 a 18:00 hrs. que contenga la siguiente información:
  - Nombre del titular.
  - Domicilio del titular o dirección de correo electrónico para comunicar respuesta a solicitud.
  - Documentos que acrediten identidad o autorización para representarlo en la solicitud.
  - Descripción de datos personales sobre los que se pretende ejercer algún derecho ARCO.
  - Cualquier otro elemento que permita la localización de los datos personales y atención a la solicitud.
  <br>
  <h4>-</h4>
  <h4>MEDIOS PARA REVOCAR CONSENTIMIENTO</h4>
  Puede revocar el consentimiento para tratar sus datos personales enviando una solicitud por escrito dirigida a nuestro Departamento de Datos Personales de Lunes a Viernes de 9:00 a 18:00 hrs. en la que se detalle claramente los datos respecto de los que revoca su consentimiento.
  <br>
  <h4>-</h4>
  <h4>NOTIFICACIÓN DE CAMBIOS AL AVISO DE PRIVACIDAD</h4>
  En su caso, las modificaciones a este Aviso de Privacidad estarán disponibles en {{ site_domain }}/aviso-legal-y-de-privacidad
</div>
