<div class="block-subscriptions">
  <span class="title">SUSCRIPCIONES A MILENIO EN FORMATO DIGITAL</span>
  <img class="image-subscription" src="/bundles/applicationcamusassets/images/suscripciones_milenio.png" alt="" />
  <div class="info-subscription">
    <div class="left">
      50%
    </div>
    <div class="right">
      <span class="main">de descuento por lanzamiento <u>$730</u></span>
      <span class="secondary">(sólo $2 diarios. Suscripción anual)</span>
    </div>
  </div>
  <div class="more-info">
    <span>
      Suscríbete al periódico en <span class="bolder">Formato Digital</span> de la plaza de tu
      elección y lee Milenio en el dispositivo electrónico de tu
      preferencia
    </span>
    <div class="send">
      SUSCRÍBETE
    </div>
  </div>
  <div class="table-period">
    <span class="title">SUSCRIPCIONES A MILENIO DIARIO IMPRESO</span>
    <div class="info">
      <div class="top">
        <div class="left">
          <span>Elige el período que te interesa</span>
        </div>
        <div class="right">
          <!-- <div class="choose">
            <span class="text-choose">ANUAL</span>
            <span class="fa fa-arrow-down" aria-hidden="true"></span>
          </div> -->
          <select class="list-options">
            <option value="1">ANUAL</option>
            <option value="2">SEMESTRAL</option>
            <option value="3">TRIMESTRAL</option>
          </select>
        </div>
      </div>
      <div class="bottom">
        <table class="anual active">
          <tr>
            <th>Plaza</th>
            <th>Precio Base</th>
            <th>Promoción A</th>
            <th>Promoción AA</th>
            <th>Promoción AAA</th>
          </tr>
          <tr>
            <td>Monterrey</td>
            <td>$2,400.00</td>
            <td>$2,600.00</td>
            <td>$2,800.00</td>
            <td>$3,000.00</td>
          </tr>
          <tr>
            <td>
              <li>Nacional</li>
              <li>Tamaulipas</li>
              <li>Estado de México</li>
              <li>Laguna</li>
              <li>Puebla</li>
            </td>
            <td>$2,000.00</td>
            <td>$2,200.00</td>
            <td>$2,400.00</td>
            <td>$2,600.00</td>
          </tr>
          <tr>
            <td>
              <li>Jalisco</li>
              <li>León</li>
              <li>Hidalgo</li>
            </td>
            <td>$1,800.00</td>
            <td>$2,000.00</td>
            <td>$2,200.00</td>
            <td>$2,400.00</td>
          </tr>
        </table>
        <table class="semestral" style='display:none;'>
          <tr>
            <th>Plaza</th>
            <th>Precio Base</th>
            <th>Promoción A</th>
            <th>Promoción AA</th>
            <th>Promoción AAA</th>
          </tr>
          <tr>
            <td>Monterrey</td>
            <td>$1,400.00</td>
            <td>$1,600.00</td>
            <td>$1,800.00</td>
            <td>$2,000.00</td>
          </tr>
          <tr>
            <td>
              <li>Nacional</li>
              <li>Tamaulipas</li>
              <li>Estado de México</li>
              <li>Laguna</li>
              <li>Puebla</li>
            </td>
            <td>$1,200.00</td>
            <td>$1,400.00</td>
            <td>$1,600.00</td>
            <td>$1,800.00</td>
          </tr>
          <tr>
            <td>
              <li>Jalisco</li>
              <li>León</li>
              <li>Hidalgo</li>
            </td>
            <td>$1,100.00</td>
            <td>$1,300.00</td>
            <td>$1,500.00</td>
            <td>$1,700.00</td>
          </tr>
        </table>
        <table class="trimestral" style="display:none;">
          <tr>
            <th>Plaza</th>
            <th>Precio Base</th>
          </tr>
          <tr>
            <td>Monterrey</td>
            <td>$800.00</td>
          </tr>
          <tr>
            <td>
              <li>Nacional</li>
              <li>Tamaulipas</li>
              <li>Estado de México</li>
              <li>Laguna</li>
              <li>Puebla</li>
            </td>
            <td>$650.00</td>
          </tr>
          <tr>
            <td>
              <li>Jalisco</li>
              <li>León</li>
              <li>Hidalgo</li>
            </td>
            <td>$600.00</td>
          </tr>
        </table>
        <div class="phone-contact">
          <span>SUSCRÍBETE LLAMANDO AL: <span class="bolder">01-800-200-MILENIO</span> (6453646) </span>
        </div>
      </div>
    </div>
  </div>
  <div class="table-period">
    <span class="title">LLAMA Y PREGUNTA POR NUESTRAS PROMOCIONES</span>
    <div class="info">
      <div class="top">
        <div class="left">
          <span>Elige una edición</span>
        </div>
        <div class="right">
          <!-- <div class="choose">
            <span class="text-choose">NACIONAL</span>
            <span class="fa fa-arrow-down" aria-hidden="true"></span>
          </div> -->
          <select class="place-options" name="plazas">
  				  <option value="nacional" selected="">Nacional</option>
  				  <option value="edomexico">Estado de México</option>
  				  <option value="monterrey">Monterrey</option>
  				  <option value="jalisco">Jalisco</option>
  				  <option value="laguna">Laguna</option>
  				  <option value="tamaulipas">Tamaulipas</option>
  				  <option value="leon">León</option>
  				  <option value="hidalgo">Hidalgo</option>
  				  <option value="puebla">Puebla</option>
  				</select>
        </div>
      </div>
      <div class="bottom-places bottom">
        <div class="nacional" selected="">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Hadas</span>
              <span class="subtitle">
                Divertida y variada colección de Hadas, en donde encontrarás además de libros con actividades muy divertidas.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Hadas.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">La grandeza se escribe con 10 estrellas</span>
              <span class="subtitle">
                Un tomo con la historia de los diez campeonatos obtenidos por el club Toluca fotografías, jugadores, goles, anécdotas y más
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo3.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Grandes maestros de la pintura</span>
              <span class="subtitle">
                Un paseo por la biografía de estos grandes personajes, el momento histórico que vivieron y el análisis de sus obras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="edomexico" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Hadas</span>
              <span class="subtitle">
                Divertida y variada colección de Hadas, en donde encontrarás además de libros con actividades muy divertidas.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Hadas.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">La grandeza se escribe con 10 estrellas</span>
              <span class="subtitle">
                Un tomo con la historia de los diez campeonatos obtenidos por el club Toluca fotografías, jugadores, goles, anécdotas y más
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo3.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Grandes maestros de la pintura</span>
              <span class="subtitle">
                Un paseo por la biografía de estos grandes personajes, el momento histórico que vivieron y el análisis de sus obras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo1.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Los 25 Grandes Clásicos en miniatura</span>
              <span class="subtitle">
                25 Obras literarias en miniatura con forros imitación piel.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/25grandes.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="monterrey" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Transformers</span>
              <span class="subtitle">
                Una colección con libros, cada uno con una variedad de imágenes inéditas y textos cortos. Incluye 9 figuras a escala y una caja coleccionadora.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Transformers.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Hadas</span>
              <span class="subtitle">
                Divertida y variada colección de Hadas, en donde encontrarás además de libros con actividades muy divertidas.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Hadas.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Aviones de Combate</span>
              <span class="subtitle">
                Conoce la historia y las todas las características técnicas de los más famosos aviones de combate, también encuentra un sinnúmero de imágenes en cada uno de los tomos, a todo color.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Aviones.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Gran Historia Universal</span>
              <span class="subtitle">
                La colección Gran Historia Universal cuenta con 18 tomos, a través de los cuales se puede vivir un viaje en el tiempo, y conocer los aspectos mas relevantes de las diferentes etapas en la historia mundial.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Gran_Historia.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Diccionario de Charlie Brown</span>
              <span class="subtitle">
                Es un diccionario de la lengua española que además es español-ingles. Esta especialmente diseñado para que los niños entiendan de manera divertida el significado de las palabras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Charlie_Brown.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Décadas de Garra y Pasión</span>
              <span class="subtitle">
                En esta obra se narran las historias que ha escrito el equipo universitario desde su fundación, los momentos cumbre y las hazañas de sus jugadores, algunos de ellos ya convertidos en leyendas del futbol.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Tigres.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Vírgenes</span>
              <span class="subtitle">
                Esta hermosa colección permite conocer más sobre las vírgenes del mundo, aquellas que con el paso del tiempo han adquirido más y más fieles, movidos por los milagros y la profunda fe que sus imágenes y apariciones han logrado unir.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Virgenes.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="jalisco" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Benedicto</span>
              <span class="subtitle">
                Un retrato de Jesús impactante y veraz que nos invita a encontrarnos cara a cara con la figura principal de la fe cristiana.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/libro-papa.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Vírgenes</span>
              <span class="subtitle">
                Esta hermosa colección permite conocer más sobre las vírgenes del mundo, aquellas que con el paso del tiempo han adquirido más y más fieles, movidos por los milagros y la profunda fe que sus imágenes y apariciones han logrado unir.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Virgenes.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="laguna" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Vírgenes</span>
              <span class="subtitle">
                Esta hermosa colección permite conocer más sobre las vírgenes del mundo, aquellas que con el paso del tiempo han adquirido más y más fieles, movidos por los milagros y la profunda fe que sus imágenes y apariciones han logrado unir.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Virgenes.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Diccionario de Charlie Brown</span>
              <span class="subtitle">
                El Diccionario de Charlie Brown esta destinado especialmente para los niños. Es un diccionario de la lengua española que además es español-ingles ya que incluye el equivalente en  ingles de  una gran cantidad de palabras. Esta especialmente diseñado para que los niños entiendan de manera divertida el significado de las palabras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Charlie_Brown.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Biblia de Jerusalén</span>
              <span class="subtitle">
                Recibe esta maravillosa obra. Una nueva edición de la Biblia revisada y aumentada, con las debidas licencias de la conferencia Episcopal Española.
                4 Tomos:
                Antiguo Testamento:
                  •Génesis-Samuel
                  •Reyes-Lamentaciones
                  •Job-Malaquías
                  •Nuevo Testamento
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/libro-papa.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="tamaulipas" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Diccionario de Charlie Brown</span>
              <span class="subtitle">
                El Diccionario de Charlie Brown esta destinado especialmente para los niños. Es un diccionario de la lengua española que además es español-ingles ya que incluye el equivalente en  ingles de  una gran cantidad de palabras. Esta especialmente diseñado para que los niños entiendan de manera divertida el significado de las palabras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Charlie_Brown.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Cuna de Sueños Huastecos</span>
              <span class="subtitle">
                Compendio de dos tomos en pasta dura que relata la historia de Tampico Madera, Altamira y la zona conurbana dividido en Tampico viejo y Tampico actual. Edición de colección único en la zona.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suenos-huastecos.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Grandes maestros de la pintura</span>
              <span class="subtitle">
                  Una colección de 12 tomos que da un paseo por la biografía de estos grandes personajes, el momento histórico en que vivieron y el análisis de sus principales obras maestras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="leon" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Benedicto</span>
              <span class="subtitle">
                  Un retrato de Jesús impactante y veraz que nos invita a encontrarnos cara a cara con la figura principal de la fe cristiana.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/libro-papa.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">León 5 Siglos</span>
              <span class="subtitle">
                  Incluye historia general y estudios monográficos.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/leon-5siglos.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Charlie Brown</span>
              <span class="subtitle">
                  8 tomos diccionario de español con fotografías y atractivas caricaturas que te ayudará a comprender las palabras en inglés.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Charlie_Brown.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Transformers</span>
              <span class="subtitle">
                Una colección con libros, cada uno con una variedad de imágenes inéditas y textos cortos. Incluye 9 figuras a escala y una caja coleccionadora.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Transformers.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="hidalgo" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Hadas</span>
              <span class="subtitle">
                Divertida y variada colección de Hadas, en donde encontrarás además de libros con actividades muy divertidas.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Hadas.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Grandes maestros de la pintura</span>
              <span class="subtitle">
                Un paseo por la biografía de estos grandes personajes, el momento histórico que vivieron y el análisis de sus obras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo1.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Los 25 Grandes Clásicos en miniatura</span>
              <span class="subtitle">
                25 Obras literarias en miniatura con forros imitación piel.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/25grandes.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="puebla" style="display:none;">
          <div class="promotion">
            <div class="left">
              <span class="title">Colección Hadas</span>
              <span class="subtitle">
                Divertida y variada colección de Hadas, en donde encontrarás además de libros con actividades muy divertidas.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/Hadas.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Los 25 Grandes Clásicos en miniatura</span>
              <span class="subtitle">
                25 Obras literarias en miniatura con forros imitación piel.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/25grandes.jpg" alt="" />
            </div>
          </div>
          <div class="promotion">
            <div class="left">
              <span class="title">Grandes maestros de la pintura</span>
              <span class="subtitle">
                Un paseo por la biografía de estos grandes personajes, el momento histórico que vivieron y el análisis de sus obras.
              </span>
            </div>
            <div class="right">
              <img src="/bundles/applicationcamusassets/images/suscripciones_promo1.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
