.content-footer{
  background-color: $color-gray-white;
}
#main-footer{
  position: relative;
  max-width: 1284px;
  margin: auto;
  height: 120px;
  background-color: $color-gray-white;
  .head, .content{
    max-width: 966px;
    padding: 9px 15px;
    @include three-column{
      max-width: 966px;
    }
    @include two-column{
      max-width: 648px;
    }
    @include one-column{
      max-width: 465px;
    }
  }
  .head{
    .notas-block{
      position: relative;
      height: 29px;
      .footer-link{
        line-height: 20px;
        height: 20px;
        padding: 5px 12px;
        font-size: 13px;
        display: inline-block;
        text-decoration: none;
      }
      .footer-item{
        opacity: 0.3;
      }
      .logo-container{
        float: left;
        height: 100%;
        transform: translate(-25px, -36px);
        .img-container, .double-img{
          display: inline-block;
          text-align: center;
          height: 55px;
        }
        img{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          max-height: 55px;
          max-width: 140px;
          height: auto;
          margin-right: 25px;
        }
        img.square{
          max-width: 50px;
        }
        .img-container.sup{
          img{
            max-width: 260px;max-height: 65px;
            @include two-column{
              max-width: 140px;
            }
          }
        }
        &:after{
          content: '';
          display: table;
          clear: both;
        }
      }
      .rights-reserved{
        display: none;
        height: 100%;
        float: right;
        @include text-with-open-sans-5-color-white;
        text-transform: uppercase;
        font-size: 10px;
        p{
          margin-bottom: 0;
        }
      }
      .sections{
        float: right;
        @include text-with-open-sans-5-color-military-gray;
        font-size: 13px;
        transform: translate(90px, 13px);
        .option-container{
          display: inline-block;
          padding: 12px 0px;
          margin-left: 20px;
          a{
            text-transform: uppercase;
            vertical-align: middle;
            font-size: 22px;
          }
        }
        &:after{
          content: '';
          display: table;
          clear: both;
        }
      }
      @include three-column{
        .sections{
          transform: translate(-83px, 13px);
        }
        .logo-container{
          transform: translate(-24px, -36px);
        }
      }
      @include two-column{
        .sections{
          transform: translate(-75px, 13px);
          width: 397px;
          ul{
            padding-left: 0;
          }
        }
        .logo-container{
          clear: both;
          transform: translate(-18px, -51px);
        }
      }
      @include one-column{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        .sections{
          transform: translate(0);
          width: 100%;
          ul{
            li{
              width: 100%;
              line-height: normal;
              padding: 0;
              text-align: center;
            }
            .footer-item{
              display: none;
            }
          }
        }
        .logo-container{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
          transform: translate(0);
        }
      }
      &:after{
        content: '';
        display: table;
        clear: both;
      }
    }
    .right{
      height: 100%;
      width: 10%;
      float: right;
      display: table;
      text-align: center;
      border-left: 1px solid $color-white;
      color: $color-white;
      cursor: pointer;
      .fa-arrow-up{
        display: table-cell;
        vertical-align: middle;
      }
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  .content{
    .rights-reserved{
      float: left;
      transform: translateY(-7px);
      .copyright, .comscore{
        display: inline-block;
        vertical-align: middle;
      }
      .copyright{
        @include text-with-open-sans-5-color-military-gray;
        font-size: 12px;
      }
    }
    .sections{
      display: none;
      p{
        margin-bottom: 0;
        @include text-with-roboto-medium-color-white;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 11px;
        font-weight: 700;
        line-height: 17px;
      }
    }
    .images{
      float: right;
      .image-left{
        float: left;
        height: 30px;
        margin-right: 10px;
        img{
          height: 100%;
        }
      }
      .image-right{
        float: right;
        height: 40px;
        img{
          height: 100%;
        }
      }
    }
    .social-network{
      position: absolute;
      left: 50%;
      bottom: 10px;
      .text{
        float: left;
        margin-right: 20px;
        @include text-with-open-sans-5-color-military-gray;
        font-size: 14px;
        .agreement{
          font-size: 11px;
          opacity: 0.4;
        }
      }
    }
    @include two-column{
      .rights-reserved{
        float: none;
        text-align: center;
      }
      .social-network{
        bottom: 8px;
        transform: translateX(-50%);
      }
    }
    @include one-column{
      display: flex;
      flex-direction: column-reverse;
      .rights-reserved{
        transform: translateX(0);
        margin: 10px 0;
      }
      .social-network{
        position: relative;
        left: 0;
        width: 100%;
        bottom: 0;
        transform: translateX(0%);
        margin-bottom: 10px;
        .text{
          float: none;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
  .footer-red-social{
    position: absolute;
    right: 10px;
    bottom: 55%;
    .fa-twitter-square{
      font-size: 25px;
      transform: translate(-5px, 0px);
      cursor: pointer;
      &:hover{
        color: $color-twitter;
      }
    }
    .fa-instagram{
      font-size: 25px;
      transform: translate(-3px, 0px);
      cursor: pointer;
      &:hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        color: $color-white;
        border-radius: 6px;
      }
    }
    .fa-facebook-official{
      font-size: 25px;
      transform: translate(0px, 0px);
      cursor: pointer;
      &:hover{
        color: $color-facebook-dark;
      }
    }
    @include one-column{
      right: 0;
      max-width: 320px;
      height: auto;
      position: relative;
      text-align: center;
    }
  }
  @include one-column{
    .footer-red-social{
      bottom: 69% !important;
    }
  }
  @include three-column{
    max-width: 966px;
  }
  @include skyscraper-media{
    max-width: 966px;
  }
  @include two-column{
    max-width: 618px;
    height: 130px;
  }
  @include one-column{
    max-width: 320px;
    height: auto;
  }
}
